<div class="title">{{'auth-management.selectAuth' | translate}}</div>
<div class="select-auth" [formGroup]="authForm">
  <div class="form-control">
    <app-nz-select
      [fg]="authForm"
      [controlName]="authForm.value.user"
      [formControlName]="'user'"
      [optionList]="userOptions"
      [label]="'auth-management.user'"
      [labelClass]="'text-size-20'"
      ngDefaultControl
    ></app-nz-select>
  </div>
  <div class="form-control">
    <app-nz-select
      [fg]="authForm"
      [controlName]="authForm.value.group"
      [formControlName]="'group'"
      [optionList]="groupOptions"
      [label]="'auth-management.user'"
      [labelClass]="'text-size-20'"
      ngDefaultControl
    ></app-nz-select>
  </div>
</div>
