.holiday {
  padding: 10px 30px 18px 20px;

  .holiday-header {
    display: flex;
    justify-content: end;
    padding: 0 7px 0 0;

    .excel-export {
      width: 40px;

      button {
        width: 100%;
        height: 40px;
        border-radius: 5px;
        background-color: #ffffff;

        &:hover {
          background-color: #2d639f;
          .hover-excel {
            width: 17px;
            height: 17px;
            display: inherit;
            object-fit: contain;
          }

          .normal-excel {
            width: 17px;
            height: 17px;
            display: none;
            object-fit: contain;
          }
        }

        .normal-excel {
          width: 17px;
          height: 17px;
          display: inherit;
          object-fit: contain;
        }

        .hover-excel {
          width: 17px;
          height: 17px;
          display: none;
          object-fit: contain;
        }
      }
    }
  }

  .holiday-table {
    padding-top: 25px;

    .ant-select {
      width: 100%;
      ::ng-deep .ant-select-selector {
        //height: 40px; [nzSize]="'large'" yaptık multiselect'lerde coklu seçimde kaymalar oluyor
        border: solid 0.5px #ABABAB;
        border-radius: 5px;
        background-color: #fff;
        font-size: 14px;
      }
    }

    input {
      border: solid 0.5px #ABABAB;
      border-radius: 5px;
      background-color: #fff;
      font-size: 14px;
      height: 40px;
    }

    .action-tab {
      position: relative;

      .other {
        position: absolute;
        top: 14px;
        left: -20px;
        cursor: pointer;

        img {
          width: 6px;
          height: 20px;
          object-fit: contain;
        }
      }

      .other-process {
        position: absolute;
        top: 14px;
        display: grid;
        right: 10px;

        .save {
          font-size: 15px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #0079ff;
        }

        .delete {
          font-size: 15px;
          font-weight: 500;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #e53030;
        }
      }
    }
  }
}
