<div
  class="mt-3 ml-[25px] mr-9 min-h-full">
  <div class="card-container">
    <nz-tabset nzType="card">
      <nz-tab *ngFor="let tab of tabs" nzTitle="{{tab.name | translate}}">
        <ng-template nz-tab>
          <div *ngIf="tab.key === AuthorityModuleEnum.BANK_TRANSACTIONS">
            <app-bank-transactions></app-bank-transactions>
          </div>

          <div *ngIf="tab.key === AuthorityModuleEnum.POS_TRANSACTIONS">
            <app-pos-transactions></app-pos-transactions>
          </div>

          <div *ngIf="tab.key === AuthorityModuleEnum.E_PAYMENT">
            <app-e-payment></app-e-payment>
          </div>

          <div *ngIf="tab.key === AuthorityModuleEnum.ONLINE_DBS">
              <app-online-dbs></app-online-dbs>
          </div>
        </ng-template>
      </nz-tab>
    </nz-tabset>
  </div>
</div>
