<div class="profile-auth">
  <div class="page-shadow">
    <div class="header">
      <div (click)="stepClick('1')" [ngClass]="head1 ? 'flex-active': 'group-flex'">{{'profile.groups' |translate }}</div>
      <div (click)="stepClick('2')" [ngClass]="head2 ? 'flex-active': 'group-flex'">{{'profile.bankProcess' |translate }}</div>
      <div (click)="stepClick('3')" [ngClass]="head3 ? 'flex-active': 'group-flex'">{{'profile.posProcess' |translate }}</div>
      <div (click)="stepClick('4')" [ngClass]="head4 ? 'flex-active': 'group-flex'">{{'profile.onlineDbs' |translate }}</div>
      <div (click)="stepClick('5')" [ngClass]="head5 ? 'flex-active': 'group-flex'">{{'profile.ePayment' |translate }}</div>
    </div>
    <div class="body">
      <div *ngIf="!head1" class="auth-request">{{'profile.requestAuth' | translate}}</div>
      <app-group *ngIf="head1"></app-group>
      <app-bank-process *ngIf="head2"></app-bank-process>
      <app-pos-process *ngIf="head3"></app-pos-process>
      <app-online-dbs *ngIf="head4"></app-online-dbs>
      <app-e-payment *ngIf="head5"></app-e-payment>
    </div>
  </div>
</div>
