<div class="pt-15px pr-30px pb-2.5 pl-25px">
  <div class="rounded-15px bg-white page-shadow">
    <div class="header pr-15px pb-0 pl-0 flex rounded-tl-14px">
      <div (click)="stepClick('1')" [ngClass]="head1 ? 'flex-active': 'group-flex'">{{'profile.groups' |translate }}</div>
      <div (click)="stepClick('2')" [ngClass]="head2 ? 'flex-active': 'group-flex'">{{'profile.bankProcess' |translate }}</div>
      <div (click)="stepClick('3')" [ngClass]="head3 ? 'flex-active': 'group-flex'">{{'profile.posProcess' |translate }}</div>
      <div (click)="stepClick('4')" [ngClass]="head4 ? 'flex-active': 'group-flex'">{{'profile.onlineDbs' |translate }}</div>
      <div (click)="stepClick('5')" [ngClass]="head5 ? 'flex-active': 'group-flex'">{{'profile.ePayment' |translate }}</div>
    </div>
    <div class="mt-27px pb-5 relative h-850px">
      <div *ngIf="!head1" (click)="editModal()" class="absolute text-15 font-semibold tracking-normal text-left text-azure right-30px top-2.5 underline cursor-pointer">{{'profile.requestAuth' | translate}}</div>
      <app-group *ngIf="head1"></app-group>
      <app-bank-process [authData]="data" *ngIf="head2"></app-bank-process>
      <app-pos-process [authData]="data" *ngIf="head3"></app-pos-process>
      <app-online-dbs [authData]="data" *ngIf="head4"></app-online-dbs>
      <app-e-payment [authData]="data" *ngIf="head5"></app-e-payment>
    </div>
  </div>
</div>
