<div class="pl-7 pr-9">
  <div class="grid grid-rows-2">

    <div class="flex flex-col items-start 3xl:flex-row 3xl:justify-between">

      <div class="flex items-center">
        <div>
          <label class="text-16">86,356 Kayıttan 1 - 50 Arası</label>
        </div>
        <div class="ml-[15px] lg:ml-[25px] xl:ml-[95px] 3xl:ml-[43px]">
          <nz-input-group class="w-[230px] lg:w-[230px] xl:w-[300px] 3xl:w-[230px] rounded-5px border-0" nzSize="large"
                          [nzPrefix]="prefixTemplateUser">
            <input type="text" nz-input placeholder="Ara..."/>
          </nz-input-group>
          <ng-template #prefixTemplateUser><span nz-icon nzType="search"></span></ng-template>
        </div>
      </div>

      <div class="flex flex-col mt-3 3xl:mt-0 lg:flex-row lg:justify-end">

        <div class="w-full mr-2.5" *ngIf="favoriteFilters">
          <nz-select nzSize="large" class="w-[460px] lg:w-[230px] xl:w-[300px] 3xl:w-[230px]" nzAllowClear
                     [nzOptions]="favoriteFilters"
                     [nzCustomTemplate]="favoriteSelectCustomTemplate" [nzPlaceHolder]="favoriteSelectPlaceholder">
          </nz-select>

          <ng-template #favoriteSelectPlaceholder>
          <span class="flex h-full items-center">
            <img src="assets/icon/star.svg"/>
            <span class="pl-[9px] text-15 text-black">{{'favorite.filters' | translate}}</span>
          </span>
          </ng-template>

          <ng-template #favoriteSelectCustomTemplate let-selected>
            <span class="flex h-full items-center">
            <img src="assets/icon/star.svg"/>
            <span class="pl-[9px] text-15 text-black">{{selected.nzLabel}}</span>
          </span>
          </ng-template>

        </div>

        <div class="w-full mt-3.5 lg:mt-0 mr-2.5" *ngIf="dateFilters">
          <nz-select nzAllowClear nzSize="large" class="w-[460px] lg:w-[230px] xl:w-[300px] 3xl:w-[230px]"
                     [nzOptions]="dateFilters"
                     [nzCustomTemplate]="dateSelectCustomTemplate" [nzPlaceHolder]="dateSelectPlaceholder">
            <nz-option nzValue="jack" nzLabel="Jack"></nz-option>
            <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
            <nz-option nzValue="disabled" nzLabel="Disabled" nzDisabled></nz-option>
          </nz-select>

          <ng-template #dateSelectPlaceholder>
          <span class="flex h-full items-center">
             <img src="assets/icon/calendar.svg"/>
             <span class="pl-[9px] text-15 text-black">{{'account-activities-list.date' | translate}}</span>
          </span>
          </ng-template>

          <ng-template #dateSelectCustomTemplate let-selected>
            <span class="flex h-full items-center">
            <img src="assets/icon/calendar.svg"/>
            <span class="pl-[9px] text-15 text-black">{{selected.nzLabel}}</span>
          </span>
          </ng-template>
        </div>

        <div class="w-full mt-3.5 lg:mt-0 mr-2.5">
          <nz-badge [nzCount]="filterItemsCount" [nzStyle]="{backgroundColor: '#2d639f'}">
            <button
              class="w-[129px]"
              nz-button
              (click)="open()"
              nzSize="large"
            >
    <span class="display-flex">
       <img width="13" height="13" src="../../../../../../assets/icon/plus.svg"/>
       <span class="text-15 text-black">{{'account-activities-list.all-filters' | translate}}</span>
    </span>
            </button>
          </nz-badge>
        </div>

        <div class="w-full text-right">
          <button class="w-[40px] h-[40px] p-y-10" nz-button nzType="default" nzSize="large">
          <span>
            <img class="w-[18px]" src="assets/icon/excel.svg"/>
          </span>
          </button>
        </div>
      </div>

    </div>

  </div>

  <button style="width: 20%; height: 40px; background-color: #2d64a0; color: white" (click)="detail()">DETAY</button>

</div>
