<div class="main-title">
  <div class="title">{{'sidebar.tag-management' | translate}}</div>
  <div class="close-icon" (click)="close()">X</div>
</div>
<div class="main-body" [formGroup]="createdForm">
  <div class="form-control">
    <label>{{'system-settings.code' | translate}}</label>
    <input nz-input formControlName="code"  type="text" />
  </div>
  <div class="form-control">
    <label>{{'system-settings.tagType' | translate}}</label>
    <nz-select formControlName="type" [nzSize]="'large'" nzAllowClear>
      <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
    </nz-select>
  </div>
  <div class="form-control">
    <label>{{'system-settings.name' | translate}}</label>
    <input nz-input formControlName="name"  type="text" />
  </div>
  <div class="form-control">
    <label>{{'system-settings.description' | translate}}</label>
    <input nz-input formControlName="description"  type="text" />
  </div>
</div>
<div class="main-footer">
  <button class="cancel" (click)="close()">{{'settings-exchange.cancel' | translate}}</button>
  <button class="save" (click)="save()">{{'settings-exchange.approve' | translate}}</button>
</div>
