<div class="profile" nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" (click)="profileClick()">
    {{avatar}}
  <nz-dropdown-menu class="profile-dropdown"  #menu="nzDropdownMenu">
    <ul class="profile-ul" nz-menu>
      <li class="profile-li" nz-menu-item>{{"profile.account" | translate}}</li>
      <li class="profile-li" nz-menu-item>{{"profile.settings" | translate}}</li>
      <li class="profile-li" nz-menu-item routerLink="/login">{{"profile.logout" | translate}}</li>
    </ul>
  </nz-dropdown-menu>
</div>
