.profile {
  border-radius: 30px;
  background-color: #2d639f;
  padding: 8px;
  font-size: 20px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  cursor: pointer;
  position: relative;
}
::ng-deep .profile-dropdown.ant-dropdown {
  margin-top: 12px;
}

::ng-deep .profile-ul.ant-dropdown-menu {
  padding: 8px 0 8px 0;
  border-radius: 5px;
  width: 230px;
}
::ng-deep .profile-li.ant-dropdown-menu-item {
  font-size: 15px;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #000;
  //padding: 0 0 10px 14px;

  &:hover {
    background-color: #2d639f !important;
    color: #ffffff !important;
  }
}
