<div class="base-table table-exchange">
  <nz-table
    #rowSelectionTable
    nzShowSizeChanger
    [nzData]="listOfData"
    [nzPageSize]="10"
    [nzShowSizeChanger]="true"
    [nzItemRender]="paginationItemRender"
    [nzShowTotal]="rangeTemplate"
    [nzPageSizeOptions]="pageSize"
    (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
  >
    <thead>
    <tr>
      <th
        [nzSelections]="listOfSelection"
        [(nzChecked)]="checked"
        [nzIndeterminate]="false"
        (nzCheckedChange)="onAllChecked($event)"
      ></th>
      <th [nzEllipsis]="true" *ngFor="let column of listOfColumn" [nzShowSort]="column.sort" [nzSortFn]="column.compare" [nzSortOrder]="column.sortOrder" width="{{column.width}}">
        {{column.title | translate}}
      </th>
    </tr>
    </thead>
    <tbody>
    <tr  [ngStyle]="{'background-color': i%2 ? '#fff' : '#f5f5f5' }" *ngFor="let data of rowSelectionTable.data; let i = index">
      <td class="check-td" [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
      <ng-container *ngIf="!editCache[data.id].edit; else editTemplate">
        <td>{{ data.registrationNumber }}</td>
        <td>{{ data.currencyHistory }}</td>
        <td>{{ data.sourcePB }}</td>
        <td>{{ data.targetPB }}</td>
        <td>{{ data.rateType }}</td>
        <td>{{ data.rate }}</td>
        <td>{{ data.priority }}</td>
        <td>{{ data.creating }}</td>
        <td>{{ data.update }}</td>
        <td>
          <img class="table-right-icon"
               nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu"
               src="assets/img/bank-account/bank-detail-other.png">
        </td>
        <nz-dropdown-menu #menu="nzDropdownMenu">
          <ul nz-menu style="width: 200px">
            <li (click)="deleted(data.id)" nz-menu-item>{{'settings-exchange.delete' | translate}}</li>
            <li (click)="startEdit(data.id)" nz-menu-item>{{'settings-exchange.updated' | translate}}</li>
          </ul>
        </nz-dropdown-menu>
      </ng-container>
      <ng-template #editTemplate>
        <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.registrationNumber" /></td>
        <td>{{ data.currencyHistory }}</td>
        <td>
<!--          <input type="text" nz-input [(ngModel)]="editCache[data.id].data.sourcePB" />-->
          <nz-select [(ngModel)]="editCache[data.id].data.sourcePB" nzAllowClear>
            <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
          </nz-select>
        </td>
        <td>
          <nz-select [(ngModel)]="editCache[data.id].data.targetPB" nzAllowClear>
            <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
          </nz-select>
        </td>
        <td>
          <nz-select [(ngModel)]="editCache[data.id].data.rateType" nzAllowClear>
            <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
          </nz-select>
        </td>
        <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.rate" /></td>
        <td><input type="text" nz-input [(ngModel)]="editCache[data.id].data.priority" /></td>
        <td>{{ data.creating }}</td>
        <td>{{ data.update }}</td>
        <td>
          <div class="other-process">
            <a (click)="saveEdit(data.id)" class="save">{{'settings-exchange.save' | translate}}</a>
            <a (click)="cancelEdit(data.id)" class="delete">{{'settings-exchange.cancel' | translate}}</a>
          </div>
        </td>
      </ng-template>
    </tr>
    </tbody>
    <ng-template #rangeTemplate let-range="range" let-total>
      <div class="absolute left-0 text-16">
        {{ total | number: '2.0' }} Kayıttan {{ range[0] }}-{{ range[1] }} arası
      </div>
    </ng-template>
    <ng-template #paginationItemRender let-type let-page="page">
      <ng-container [ngSwitch]="type">
        <a *ngSwitchCase="'page'">{{ page }}</a>
        <a *ngSwitchCase="'prev'"><img src="assets/svg/left-single-arrow.svg"/></a>
        <a *ngSwitchCase="'next'"><img src="assets/svg/right-single-arrow.svg"/></a>
        <a *ngSwitchCase="'prev_5'"><img src="assets/svg/left-double-arrow.svg"/></a>
        <a *ngSwitchCase="'next_5'"><img src="assets/svg/right-double-arrow.svg"/></a>
      </ng-container>
    </ng-template>
  </nz-table>
</div>
