.table-exchange {

  .ant-select {
    width: 100%;
    ::ng-deep .ant-select-selector {
      //height: 40px; [nzSize]="'large'" yaptık multiselect'lerde coklu seçimde kaymalar oluyor
      border: solid 0.5px #ABABAB;
      border-radius: 5px;
      background-color: #fff;
      font-size: 14px;
    }

    ::ng-deep .ant-select-arrow {
      color: #000000;
    }
  }

  input {
    border: solid 0.5px #ABABAB;
    border-radius: 5px;
    background-color: #fff;
    font-size: 14px;
  }

  .action-tab {
    position: relative;

    .other {
      position: absolute;
      top: 14px;
      left: -20px;
      cursor: pointer;

      img {
        width: 6px;
        height: 20px;
        object-fit: contain;
      }
    }

    .other-process {
      position: absolute;
      top: 14px;
      display: grid;
      right: 10px;

      .save {
        font-size: 15px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #0079ff;
      }

      .delete {
        font-size: 15px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #e53030;
      }
    }
  }
}
