.detail {
  @apply pt-2.5 px-[18px] pb-[18px];

  .detail-header {
    @apply flex relative mb-7;

    .account-total {
      @apply text-18 font-normal tracking-normal text-left text-black;
    }

    .excel-export {
      @apply w-[40px] absolute right-2 top-[-9px];

      button {
        @apply w-full h-[40px] rounded-5px bg-white;

        &:hover {
          @apply bg-lapis-lazuli;
          .hover-excel {
            @apply w-[17px] h-[17px] object-contain;
            display: inherit;
          }

          .normal-excel {
            @apply w-[17px] h-[17px] hidden object-contain;
          }
        }

        .normal-excel {
          @apply w-[17px] h-[17px] object-contain;
          display: inherit;
        }

        .hover-excel {
          @apply w-[17px] h-[17px] hidden object-contain;
        }
      }
    }
  }

  .detail-table {

    ///child table scss start

    ::ng-deep nz-table.ant-table-wrapper.child-detail.ng-star-inserted {
      @apply text-anti-flash-white;

      ::ng-deep .ant-table {
        @apply text-anti-flash-white;
      }

      ::ng-deep tr.ant-table-expanded-row > td, tr.ant-table-expanded-row:hover > td {
        @apply bg-boston-university-red;
      }

      ::ng-deep .ant-table-thead > tr > th {
        @apply bg-anti-flash-white text-15 font-semibold bg-transparent tracking-normal text-left text-black border-none;
      }

      ::ng-deep .ant-table-tbody > tr > td {
        @apply text-15 font-normal tracking-normal bg-transparent text-left text-black border-none;
      }
    }

    ///child table scss end

    nz-table {
      tbody {
        tr {
          td {
            .last-colum-other {
              @apply relative;
              .balance-value {

              }

              .accordion-img {
                @apply cursor-pointer absolute top-1 left-[105px];

                img {
                  @apply w-[15px] h-[15px] object-contain;
                }
              }

              .status-img {
                @apply absolute top-1 right-[49px];

                img {
                  @apply w-[15px] h-[15px] object-contain;
                }
              }

              .other-img {
                @apply absolute right-[-5px] top-[1px] cursor-pointer;

                img {
                  @apply w-[6px] h-[22.9px] object-contain;
                 }
              }
            }
          }
        }
      }

      tfoot {
        .total-row {
          @apply bg-white;
          box-shadow: 0 3px 14px 0 rgba(128, 128, 128, 0.1);

          .total-title {
            @apply text-20-normal font-semibold tracking-normal text-left text-black border-solid border-t-black border-t-0.5 bg-white rounded-bl-15px;
          }

          .total-price {
            @apply text-20-normal font-semibold tracking-normal text-left text-black border-solid border-t-0.5 border-t-black bg-white rounded-br-15px rounded-bl-15px;
          }
        }
      }
    }
  }
}
