<div class="transactions-dashboard">
  <app-currency-flow-bar></app-currency-flow-bar>
  <div class="w-100 pl-7 pr-30px">

    <div class="grid pt-[11px] gap-x-0 gap-y-2.5 xl:pt-8 xl:gap-30 grid-cols-1 xl:grid-cols-3">
      <div *ngFor="let money of moneyList">
        <app-balance-summary-column [summary]="money"></app-balance-summary-column>
      </div>
    </div>

    <div class="grid pt-[31px] gap-30 grid-cols-1 xl:grid-cols-3">

      <div class="currency-type xl:col-span-2">
        <app-balance-type [segmentBarConfig]="segmentBarConfigForBalanceType" [chartsOption]="balanceTypeConfig"
                          [title]="'transactions-dashboard.balance-types'"
                          (currencyChange)="balanceTypeCurrencyChange($event)"></app-balance-type>
      </div>

      <div class="currency-type">
        <app-balance-type [segmentBarConfig]="segmentBarConfigForAccountType" [chartsOption]="accountTypeConfig"
                          (currencyChange)="accountTypeCurrencyChange($event)"
                          [title]="'transactions-dashboard.account-types'"></app-balance-type>
      </div>

      <div class="xl:col-span-2">
        <app-bank-accounts></app-bank-accounts>
      </div>

      <div class="mt-104 xl:mt-0" *ngIf="currencyTotals">
        <app-currencies-summaries [currencyTotals]="currencyTotals"></app-currencies-summaries>
      </div>

    </div>

  </div>
</div>
