<label class="text-20 text-black font-bold">{{title | translate}}</label>
<div *ngIf="currencies.length > 0" class="rounded-20px bg-white shadow-silver-halice-lg mt-4 pt-[21px]">
  <app-currency-bar-segment [segmentBarConfig]="segmentBarConfig" (selectedCurrencyEvent)="selectedCurrency($event)"></app-currency-bar-segment>

  <div *ngIf="dataSourceConfig?.width">
    <fusioncharts
      width="{{dataSourceConfig.width}}"
      height="{{dataSourceConfig.height}}"
      type="doughnut2d"
      dataFormat="JSON"
      [dataSource]="dataSource"
      (legendItemClicked)="legendClicked($event)"
      (initialized)="initialized($event)"
    ></fusioncharts>
  </div>
</div>


