<div *ngIf="filterTypes && filterTypes.length < 6;else otherFilterContent">
  <button
    class="w-[129px]"
    nz-button
    nzSize="large"
    nz-popover
    [(nzPopoverVisible)]="visible"
    nzPopoverTrigger="click"
    [nzPopoverContent]="contentTemplate"
    nzPopoverPlacement="bottomRight"
  >
              <span class="display-flex">
            <img width="13" height="13" src="assets/icon/plus.svg"/>
            <span class="text-15 text-black">Tüm Filtreler</span>
          </span>
  </button>

  <ng-template #contentTemplate>
    <div class="w-[370px]">
      <div *ngFor="let filterType of filterTypes" class="w-full mt-2.5">
        <label class="text-16 text-black">{{filterType.title}}</label>

        <div *ngFor="let inputType of filterType.inputTypes" class="w-full">

          <div *ngIf="inputType.type === InputTypeEnum.MULTISELECT" class="w-full mt-2.5">
            <nz-select nzSize="large" class="w-full" nzAllowClear [nzOptions]="inputType.data"></nz-select>
          </div>
        </div>

      </div>

      <div class="w-full mt-[21px]">
        <button
          class="h-[40px] w-full rounded-10px text-white bg-eton-blue border-0 hover:opacity-80 hover:text-white hover:bg-eton-blue"
          nz-button nzType="default" nzSize="large">
          <span>
            Sorgula
          </span>
        </button>
      </div>
    </div>


  </ng-template>
</div>

<ng-template #otherFilterContent>
  <button
    class="w-[129px]"
    nz-button
    nzSize="large"
  >
              <span class="display-flex">
            <img width="13" height="13" src="assets/icon/plus.svg"/>
            <span class="text-15 text-black">Tüm Filtreler</span>
          </span>
  </button>

  <nz-drawer
    [nzClosable]="false"
    [nzVisible]="visibleDrawer"
    [nzPlacement]="'top'"
    nzTitle="Basic Drawer"
    (nzOnClose)="close()"
  >
    <ng-container *nzDrawerContent>
      <p>Some contents...</p>
      <p>Some contents...</p>
      <p>Some contents...</p>
    </ng-container>
  </nz-drawer>
</ng-template>
