.bank-table {
  .banks {
    display: flex;
    flex-wrap: wrap;

    .bank-list {
      flex: 0 0 25%;
      max-width: 25%;
      padding: 0 15px;
      margin-bottom: 30px;

      .bank-card {
        border-radius: 5px;
        box-shadow: 0 3px 14px 0 rgba(126, 126, 126, 0.16);
        background-color: #fff;
        width: 100%;

        .bank-header {
          display: flex;

          .bank-image {

            img {
              width: 97px;
              height: 37px;
              object-fit: contain;
            }
          }

          .bank-color {
            width: 100%;
            border-radius: 5px 5px 0 5px;
          }
        }

        .bank-card-body {

          .data-table {
            position: relative;
            padding: 4px;

            span {
              font-size: 16px;
              font-weight: normal;
              font-stretch: normal;
              font-style: normal;
              line-height: 1.75;
              letter-spacing: normal;
              text-align: right;
              color: #000;
            }
            .account {

            }

            .price {
              position: absolute;
              right: 63px;
            }

            .money-type {
              position: absolute;
              right: 17px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .bank-list {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}

@media (max-width: 650px) {
  .bank-list {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}
