.bank-table {
  @apply pt-0 pr-2.5 pb-0 pl-1;

  .banks {
    @apply flex flex-wrap;

    .bank-list {
      @apply max-w-25% py-0 px-[15px] mb-[30px];
      flex: 0 0 25%;

      .bank-card {
        @apply rounded-5px bg-white w-full;
        box-shadow: 0 3px 14px 0 rgba(126, 126, 126, 0.16);

        .bank-header {
          @apply flex pl-2.5;

          .bank-image {

            img {
              @apply w-[97px] h-[37px] object-contain;
            }
          }

          .bank-color {
            @apply w-full rounded-tl-5px rounded-tr-5px rounded-br-0 rounded-bl-5px;
          }
        }

        .bank-card-body {

          .data-table {
            @apply relative py-1 pr-1 pl-[14px] cursor-pointer;

            span {
              @apply text-16 font-normal tracking-normal text-right text-black;
            }
            .account {

            }

            .price {
              @apply absolute right-[63px];
            }

            .money-type {
              @apply absolute right-[17px] font-bold;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .bank-list {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}

@media (max-width: 650px) {
  .bank-list {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}
