<div *ngIf="segmentBarConfig"
     [ngClass]="{
     'center': segmentBarConfig.position === SegmentPositionEnum.CENTER,
     'start': segmentBarConfig.position === SegmentPositionEnum.START,
     'end': segmentBarConfig.position === SegmentPositionEnum.END}"
     [ngStyle]="{
     'padding-left': segmentBarConfig.paddingLeft + 'px',
     'padding-right': segmentBarConfig.paddingRight + 'px'}"
     class="pl-[27px] pr-[27px] overflow-x-auto"
>
  <nz-segmented class="rounded-5px bg-ghost-white p-0 h-[41px]" *ngIf="segmentBarConfig"
                [ngStyle]="{'width': segmentBarConfig.width}"
                nzSize="large" [nzOptions]="segmentBarConfig.data"
                (nzValueChange)="changeSegmentBar($event)"
                [nzBlock]="segmentBarConfig.block"></nz-segmented>
</div>

