<div class="dashboard-header flex">
  <div class="eho-img">
    <img src="../../../../assets/img/login-img/login-otp-lock.png" />
  </div>
  <div class="search-input basis-1/4">
    <div class="input-position">
      <div class="icon-input">
        <img src="../../../../assets/img/dashboard-header/input-search.png" />
      </div>
      <input class="rounded-lg" type="text" nz-input>
    </div>
  </div>
  <div class="filter-img">
    <img src="../../../../assets/img/dashboard-header/dashboard-header-view.png" (click)="dashboardView = !dashboardView" />
    <div class="card" *ngIf="dashboardView">
      <div class="card-title">
        <p>{{"dashboard-header.dashboard-view" | translate}}</p>
        <span (click)="dashboardView = !dashboardView">X</span>
      </div>
      <div class="card-body">
        <ul *ngFor="let item of dashboardList">
          <li class="flex">
            <span class="basis-1/2">
              <p>{{item.name | translate}}</p>
            </span>
            <span class="basis-1/2">
              <span class="switch-flex">
                <nz-switch [(ngModel)]="item.status" (ngModelChange)="change()"></nz-switch>
              </span>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="favorite-img">
    <img src="../../../../assets/img/dashboard-header/dashboard-header-favorite.png" />
  </div>
  <div class="up-line"></div>
  <div class="language-selector">
    <app-translate-page></app-translate-page>
  </div>
  <div class="up-line"></div>
  <div class="avatar">
    <p>HA</p>
  </div>
</div>
<app-dashboard [moduleList]="moduleList"></app-dashboard>
