<div class="dashboard-header flex">
  <div class="eho-img">
    <img src="../../../../assets/img/login-img/login-otp-lock.png" />
  </div>
  <div class="search-input basis-1/4">
    <div class="input-position">
      <div class="icon-input">
        <img src="../../../../assets/img/dashboard-header/input-search.png" />
      </div>
      <input class="rounded-lg"
             type="text"
             nz-input>
    </div>
  </div>
  <div class="filter-img">
    <img src="../../../../assets/img/dashboard-header/dashboard-header-view.png" />
  </div>
  <div class="favorite-img">
    <img src="../../../../assets/img/dashboard-header/dashboard-header-favorite.png" />
  </div>
  <div class="up-line"></div>
  <div class="language-selector">
    <app-translate-page></app-translate-page>
  </div>
  <div class="up-line"></div>
  <div class="avatar">
    <p>HA</p>
  </div>
</div>
