.dashboard-header {
  max-height: 132px;
  padding: 11px 10px 10px 20px;
  border-bottom: solid 1px #2d639f;
  background-color: #fff;

  .eho-img {
    margin: 0 55.6% 0 0;

    img {
      width: 80px;
      object-fit: contain;
    }
  }

  .search-input {
    margin: 10px 30px 0 0;

    .input-position {
      position: relative;

      .icon-input {
        position: absolute;
        z-index: 9;
        top: 15px;

        img {
          width: 20px;
          height: 20px;
          object-fit: contain;
        }
      }

      input {
        border-top: none;
        border-right: none;
        border-left: none;
        border-radius: 0;
        border-bottom:  solid 1px #2d64a0;;
        margin-top: 5px;
        padding-left: 25px;
        font-size: 18px;
        font-weight: 500;

        &:focus {
          box-shadow: none;
          outline: none;
        }
        &.ant-input-affix-wrapper:focus,
        &.ant-input-affix-wrapper-focused {
          box-shadow: none;
          outline: none;
        }
      }
    }
  }

  .filter-img {
    margin: 27px 20px 0 0;
    position: relative;

    img {
      width: 25px;
      object-fit: contain;
      cursor: pointer;

      &:hover {
        background-color: #dbecff !important;
      }
    }


    .card {
      position: absolute;
      width: 320px;
      top: 34px;
      right: 0;
      border-radius: 5px;
      box-shadow: 0 3px 14px 0 rgba(110, 110, 110, 0.16);
      background-color: #fff;
      z-index: 9999;

      .card-title {
        border-radius: 5px 5px 0 0;
        background-color: #2d639f;
        padding: 11px 0 12px 12px;
        position: relative;

        p {
          font-size: 20px;
          font-weight: 600;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #fff;
        }
      }

      .card-body {
        padding: 5px 0 0 0;
        ul {
          li {
            padding: 11px 12px 12px 12px;
            span {
              p {
                font-size: 18px;
                font-weight: 400;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: left;
              }
              .switch-flex {
                display: flex;
                justify-content: end;
              }
              nz-switch {
                ::ng-deep .ant-switch {
                  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), linear-gradient(to right, #fff, #fff);
                }
                ::ng-deep .ant-switch-checked {
                  background:  #2d64a0;
                }
              }
            }
          }
        }
      }
    }
  }

  .favorite-img {
    margin: 27px 20px 0 0;
    position: relative;

    img {
      width: 30px;
      object-fit: contain;
      cursor: pointer;

      &:hover {
        border-radius: 5px;
        background-color: #dbecff;
      }
    }

    .dropdown-favorite {
      position: absolute;
      top: 35px;
      right: 10px;
      z-index: 999;
      padding: 12px 14px 12px 12px;
      border-radius: 5px;
      box-shadow: 0 0 14px 0 rgba(167, 167, 167, 0.16);
      background-color: #fff;
      width: 230px;
      height: auto;

      li {
        font-size: 15px;
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000;
        padding: 3px;
        cursor: pointer;

        &:hover {
          background-color: #2d639f !important;
          color: #ffffff !important;
        }
      }
    }
  }

  .up-line {
    border: solid 1px #d0d0d0;
    height: 36px;
    margin: 19px 20px 0 0;
  }

  .language-selector {
    margin: 21px 20px 0 0;
  }

  .avatar {
    margin: 12px 20px 0 0;
    p {
      border-radius: 30px;
      background-color: #2d639f;
      padding: 8px;
      font-size: 20px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #fff;
      cursor: pointer;
    }
  }

}

.back-image {
  background-color: #dbecff;
  padding: 6px;
  margin: -6px;
}
