<div class="dashboard-header flex">
  <div class="eho-img">
    <img src="../../../../assets/icon/logo.png" />
  </div>
  <div class="search-input basis-1/4">
    <div class="input-position">
      <div class="icon-input">
        <img src="../../../../assets/img/dashboard-header/input-search.png" />
      </div>
      <input class="rounded-lg" type="text" nz-input>
    </div>
  </div>
  <div class="filter-img">
    <div class="hover-filter" [ngClass]="dashboardView ? 'back-image' : ''">
      <img src="../../../../assets/img/dashboard-header/dashboard-header-view.png" (click)="dashboardViewClick()" />
    </div>
    <div class="card" *ngIf="dashboardView">
      <div class="card-title">
        <p>{{"dashboard-header.dashboard-view" | translate}}</p>
      </div>
      <div class="card-body">
        <ul *ngFor="let item of dashboardList">
          <li class="flex">
            <span class="basis-1/2">
              <p>{{item.name | translate}}</p>
            </span>
            <span class="basis-1/2">
              <span class="switch-flex">
                <nz-switch [(ngModel)]="item.status" (ngModelChange)="change()"></nz-switch>
              </span>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="favorite-img" (click)="favoriteViewClick()">
    <div class="hover-favorite" [ngClass]="favoriteView ? 'back-image' : ''">
      <img src="../../../../assets/img/dashboard-header/dashboard-header-favorite.png" />
    </div>
    <div class="dropdown-favorite" *ngIf="favoriteView">
      <ul *ngFor="let item of favoriteList">
        <li routerLink="{{item.url}}">{{item.name || '' | translate}}</li>
      </ul>
    </div>
  </div>
  <div class="up-line"></div>
  <div class="language-selector">
    <app-translate-page></app-translate-page>
  </div>
  <div class="up-line"></div>
  <div class="avatar">
    <app-profile></app-profile>
  </div>
</div>
<app-dashboard [moduleList]="moduleList"></app-dashboard>
