.dashboard-header {
  @apply max-h-[132px] pt-[11px] pr-2.5 pb-2.5 pl-5 border-solid border-b-1 border-lapis-lazuli bg-white;

  .eho-img {
    @apply my-0 ml-0;
    margin-right: 55.6%;

    img {
      @apply w-[80px] object-contain;
    }
  }

  .search-input {
    @apply mt-2.5 mr-[30px] mb-0 ml-0;

    .input-position {
      @apply relative #{!important};

      .icon-input {
        @apply absolute z-10 top-[15px];

        img {
          @apply w-5 h-5 object-contain;
        }
      }

      input {
        @apply border-t-0 border-r-0 border-l-0 border-b-1 border-solid border-sapphire rounded-0 mt-[5px] pl-[25px] text-18 font-semibold;

        &:focus {
          @apply shadow-none outline-0;
        }

        &.ant-input-affix-wrapper:focus,
        &.ant-input-affix-wrapper-focused {
          @apply shadow-none outline-0;
        }
      }
    }
  }

  .filter-img {
    @apply mt-[27px] mr-5 mb-0 ml-0 relative;

    .hover-filter {
      &:hover {
        @apply bg-water p-[6px] m-[-6px];
      }
    }

    img {
      @apply w-1/4 object-contain cursor-pointer;
    }

    .card {
      @apply absolute w-80 top-[34px] right-0 rounded-5px bg-white z-[9999];
      box-shadow: 0 3px 14px 0 rgba(110, 110, 110, 0.16);

      .card-title {
        @apply rounded-tl-5px rounded-tr-5px rounded-bl-0 rounded-br-0 bg-lapis-lazuli pt-[11px] pr-0 pb-3 pl-3 relative;

        p {
          @apply text-20-normal font-semibold tracking-normal text-left text-white;
        }
      }

      .card-body {
        @apply pt-[5px] px-0 pb-0;

        ul {
          li {
            @apply pt-[11px] px-3 pb-3;

            span {
              p {
                @apply text-18 font-normal tracking-normal text-left;
              }

              .switch-flex {
                @apply flex justify-end;
              }

              nz-switch {
                ::ng-deep .ant-switch {
                  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), linear-gradient(to right, #fff, #fff);
                }

                ::ng-deep .ant-switch-checked {
                  @apply bg-sapphire;
                }
              }
            }
          }
        }
      }
    }
  }

  .favorite-img {
    @apply mt-[27px] mr-5 mb-0 ml-0 relative;

    .hover-favorite {

      &:hover {
        @apply bg-water p-[6px] m-[-6px];
      }
    }

    img {
      @apply w-[30px] object-contain cursor-pointer;
    }

    .dropdown-favorite {
      @apply absolute top-[35px] right-[10px] z-[999] py-3 pr-[14px] pl-3 rounded-5px bg-white w-[230px] h-auto;
      box-shadow: 0 0 14px 0 rgba(167, 167, 167, 0.16);

      li {
        @apply text-15 font-normal tracking-normal text-left text-black p-[3px] cursor-pointer;

        &:hover {
          @apply bg-lapis-lazuli text-white #{!important};
        }
      }
    }
  }

  .up-line {
    @apply border-solid border-1 border-american-silver h-[36px] mt-[19px] mr-5 mb-0 ml-0;
  }

  .language-selector {
    @apply mt-[21px] mr-5 mb-0 ml-0;
  }

  .avatar {
    @apply mt-3 mr-5 mb-0 ml-0;

    p {
      @apply rounded-[30px] bg-lapis-lazuli p-2 text-20 font-semibold text-left text-white cursor-pointer;
    }
  }
}

.back-image {
  @apply bg-water p-[6px] m-[-6px];
}
