.dashboard-header {
  @apply max-h-[132px] pt-[11px] pr-2.5 pb-2.5 pl-5 border-solid border-b-1 border-lapis-lazuli bg-white;

  .eho-img {
    @apply my-0 ml-0;
    margin-right: 55.6%;

    img {
      @apply w-[80px] object-contain;
    }
  }

  .search-input {
    @apply mt-2.5 mr-[30px] mb-0 ml-0;

    .input-position {
      @apply relative;

      .icon-input {
        @apply absolute z-10 top-[15px];

        img {
          @apply w-5 h-5 object-contain;
        }
      }

      input {
        @apply border-t-0 border-r-0 border-l-0 border-b-1 border-solid border-sapphire rounded-0 mt-[5px] pl-[25px] text-18 font-semibold;

        &:focus {
          @apply shadow-none outline-0;
        }

        &.ant-input-affix-wrapper:focus,
        &.ant-input-affix-wrapper-focused {
          @apply shadow-none outline-0;
        }
      }
    }
  }

  .filter-img {
    @apply mt-[27px] mr-5 mb-0 ml-0 relative;

    .hover-filter {
      &:hover {
        @apply bg-water p-[6px] m-[-6px];
      }
    }

    img {
      @apply w-1/4 object-contain cursor-pointer;
    }

    .card {
      @apply absolute w-80 top-[34px] right-0 rounded-5px bg-white z-[9999];
      box-shadow: 0 3px 14px 0 rgba(110, 110, 110, 0.16);

      .card-title {
        @apply rounded-tl-5px rounded-tr-5px rounded-bl-0 rounded-br-0 bg-lapis-lazuli pt-[11px] pr-0 pb-3 pl-3 relative;

        p {
          @apply text-20-normal font-semibold tracking-normal text-left text-white;
        }
      }

      .card-body {
        @apply pt-[5px] px-0 pb-0;

        ul {
          li {
            @apply pt-[11px] px-3 pb-3;

            span {
              p {
                @apply text-18 font-normal tracking-normal text-left;
              }

              .switch-flex {
                display: flex;
                justify-content: end;
              }

              nz-switch {
                ::ng-deep .ant-switch {
                  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), linear-gradient(to right, #fff, #fff);
                }

                ::ng-deep .ant-switch-checked {
                  background: #2d64a0;
                }
              }
            }
          }
        }
      }
    }
  }

  .favorite-img {
    margin: 27px 20px 0 0;
    position: relative;

    .hover-favorite {

      &:hover {
        background-color: #dbecff;
        padding: 6px;
        margin: -6px;
      }
    }

    img {
      width: 30px;
      object-fit: contain;
      cursor: pointer;
    }

    .dropdown-favorite {
      position: absolute;
      top: 35px;
      right: 10px;
      z-index: 999;
      padding: 12px 14px 12px 12px;
      border-radius: 5px;
      box-shadow: 0 0 14px 0 rgba(167, 167, 167, 0.16);
      background-color: #fff;
      width: 230px;
      height: auto;

      li {
        font-size: 15px;
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000;
        padding: 3px;
        cursor: pointer;

        &:hover {
          background-color: #2d639f !important;
          color: #ffffff !important;
        }
      }
    }
  }

  .up-line {
    border: solid 1px #d0d0d0;
    height: 36px;
    margin: 19px 20px 0 0;
  }

  .language-selector {
    margin: 21px 20px 0 0;
  }

  .avatar {
    margin: 12px 20px 0 0;

    p {
      border-radius: 30px;
      background-color: #2d639f;
      padding: 8px;
      font-size: 20px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.5;
      letter-spacing: normal;
      text-align: left;
      color: #fff;
      cursor: pointer;
    }
  }

}

.back-image {
  background-color: #dbecff;
  padding: 6px;
  margin: -6px;
}
