<div class="container-fluid">
  <div class="bank-filter-form">
    <div class="form-element p-1 pr-4">
      <label>{{'bank-account.companies' | translate}}</label>
      <nz-select nzShowSearch nzAllowClear [nzDropdownMatchSelectWidth]="false" [nzShowArrow]="true" [nzSize]="'large'" nzMode="multiple" [nzOptionHeightPx]="heightPx">
        <nz-option *ngFor="let item of listOption" [nzLabel]="item.name" [nzValue]="item.id"></nz-option>
      </nz-select>
    </div>
    <div class="form-element p-1 pr-4">
      <label>{{'bank-account.branches' | translate}}</label>
      <nz-select nzShowSearch nzAllowClear [nzShowArrow]="true" [nzSize]="'large'" nzMode="multiple" [nzOptionHeightPx]="heightPx">
      <nz-option *ngFor="let item of listOption" [nzLabel]="item.name" [nzValue]="item.name"></nz-option>
      </nz-select>
    </div>
    <div class="form-element p-1 pr-4">
      <label>{{'bank-account.account-types' | translate}}</label>
      <nz-select nzShowSearch nzAllowClear [nzShowArrow]="true" [nzSize]="'large'" nzMode="multiple" [nzOptionHeightPx]="heightPx">
        <nz-option *ngFor="let item of listOption" [nzLabel]="item.name" [nzValue]="item.name"></nz-option>
      </nz-select>
    </div>
    <div class="form-element p-1 pr-4">
      <label>{{'bank-account.balance' | translate}}</label>
      <nz-select nzShowSearch nzAllowClear [nzShowArrow]="true" [nzSize]="'large'" nzMode="multiple" [nzOptionHeightPx]="heightPx">
        <nz-option *ngFor="let item of listOption" [nzLabel]="item.name" [nzValue]="item.name"></nz-option>
      </nz-select>
    </div>
    <div class="form-element p-1 pr-4">
      <label>{{'bank-account.currency-unit' | translate}}</label>
      <nz-select nzShowSearch nzAllowClear [nzShowArrow]="true" [nzSize]="'large'" nzMode="multiple" [nzOptionHeightPx]="heightPx">
        <nz-option *ngFor="let item of listOption" [nzLabel]="item.name" [nzValue]="item.name"></nz-option>
      </nz-select>
    </div>
    <div class="form-element pt-7">
      <button class="btn-search">{{'bank-account.inquire' | translate}}</button>
    </div>
  </div>
  <div class="bank-view-option">
    <div class="bank-table">
      <img src="{{bankTableHidden ? 'assets/img/bank-account/bank-table-active.png' : 'assets/img/bank-account/bank-table.png'}}" (click)="bankViewChange('bankTable')">
    </div>
    <div class="up-line"></div>
    <div class="bank-list">
      <img src="{{bankListHidden ? 'assets/img/bank-account/bank-list-active.png' : 'assets/img/bank-account/bank-list.png'}}" (click)="bankViewChange('banklist')">
    </div>
  </div>
</div>
<div class="bank-view">
  <app-bank-table [bankList]="bankList" *ngIf="bankTableHidden"></app-bank-table>
  <app-bank-list [bankList]="bankList" *ngIf="bankListHidden"></app-bank-list>
</div>
