.container-fluid {
  padding: 14px 20px 0 17px;

  label {
    font-size: 16px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #000;
  }
  .ant-select {
    width: 100%;
    ::ng-deep .ant-select-selector {
      height: 40px;
    }
  }

  .btn-search {
    height: 40px;
    width: 100%;
    border-radius: 10px;
    background-color: #87bfad;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
  }

  .bank-view-option {
    display: flex;
    justify-content: end;
    padding: 15px 0 0 0;

    .bank-table {
      margin: 0 10px 0 0;
      img {
        width: 20px;
        object-fit: contain;
        cursor: pointer;
      }
    }

    .up-line {
      border: solid 1px #d0d0d0;
      height: 22px;
      margin: 0 10px 0 0;
    }

    .bank-list {
      margin: 3px 0 0 0;
      img {
        width: 22px;
        object-fit: contain;
        cursor: pointer;
      }
    }
  }
}

.bank-view {
  padding: 28px 0 0 0;
}
