.currency-settings {
  @apply pt-5 pr-30px pb-0 pl-5;

  .page-shadow {
    @apply rounded-15px bg-white;
    box-shadow: 0 3px 14px 0 rgba(128, 128, 128, 0.1);

    .first {
      @apply pt-6 px-5 pb-30px flex flex-wrap;

      .form-control {
        @apply max-w-25% mt-5 mr-5 mb-6 ml-5px;
        flex: 0 0 20%;

        label {
          @apply text-20-normal font-light tracking-normal text-left text-black;
        }

        input {
          @apply rounded-5px border-solid border-0.5 border-dark-charcoal bg-white mt-2.5 h-45px;

          &:focus {
            @apply shadow-none outline-none;
          }
        }

        nz-switch {
          ::ng-deep .ant-switch {
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), linear-gradient(to right, #fff, #fff);
          }

          ::ng-deep .ant-switch-checked {
            @apply bg-sapphire;
          }
        }
      }
    }
  }

  .currency-settings-submit {
    @apply mt-30px;

    button {
      @apply w-241px h-50px rounded-10px bg-eton-blue text-20-normal tracking-normal text-white;
    }
  }
}

@media (max-width: 1600px) {
  .form-control {
    @apply max-w-25% #{!important};
    flex: 0 0 25% !important;
  }
}


@media (max-width: 1200px) {
  .form-control {
    flex: 0 0 30% !important;
    max-width: 30% !important;
  }
}

@media (max-width: 900px) {
  .form-control {
    flex: 0 0 38% !important;
    max-width: 38% !important;

    label {
      @apply text-18 #{!important};
    }

    input {
      @apply h-10 #{!important};
    }
  }
}

@media (max-width: 650px) {
  .form-control {
    flex: 0 0 42% !important;
    max-width: 42% !important;
  }
}

@media (max-width: 500px) {
  .form-control {
    flex: 0 0 80% !important;
    max-width: 80% !important;

    label {
      @apply text-15 #{!important};
    }

    input {
      @apply h-38px #{!important};
      height: 38px !important;
    }
  }

  .currency-settings-submit {
    margin-top: 15px !important;

    button {
      width: 150px !important;
      height: 40px !important;
      font-size: 15px !important;
    }
  }
}
