.currency-settings {
  padding: 20px 30px 0 20px;

  .page-shadow {
    border-radius: 15px;
    box-shadow: 0 3px 14px 0 rgba(128, 128, 128, 0.1);
    background-color: #fff;

    .first {
      padding: 24px 20px 30px 20px;
      display: flex;
      flex-wrap: wrap;

      .form-control {
        flex: 0 0 20%;
        max-width: 25%;
        margin: 20px 20px 24px 5px;

        label {
          font-size: 20px;
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #000;
        }

        input {
          border-radius: 10px;
          border: solid 0.5px #ABABAB;
          background-color: #fff;
          margin-top: 10px;
          height: 45px;

          &:focus {
            box-shadow: none;
            outline: none;
          }
        }

        nz-switch {
          ::ng-deep .ant-switch {
            background-image: linear-gradient(to right, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), linear-gradient(to right, #fff, #fff);
          }
          ::ng-deep .ant-switch-checked {
            background:  #2d64a0;
          }
        }
      }
    }
  }

  .currency-settings-submit {
    margin-top: 30px;

    button {
      width: 241px;
      height: 50px;
      border-radius: 10px;
      background-color: #87bfad;
      font-size: 20px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #fff;
    }
  }
}

@media (max-width: 1600px) {
  .form-control {
    flex: 0 0 25% !important;
    max-width: 25% !important;
  }
}


@media (max-width: 1200px) {
  .form-control {
    flex: 0 0 30% !important;
    max-width: 30% !important;
  }
}

@media (max-width: 900px) {
  .form-control {
    flex: 0 0 38% !important;
    max-width: 38% !important;

    label {
      font-size: 18px !important;
    }

    input {
      height: 40px !important;
    }
  }
}

@media (max-width: 650px) {
  .form-control {
    flex: 0 0 42% !important;
    max-width: 42% !important;
  }
}

@media (max-width: 500px) {
  .form-control {
    flex: 0 0 80% !important;
    max-width: 80% !important;

    label {
      font-size: 15px !important;
    }

    input {
      height: 38px !important;
    }
  }

  .currency-settings-submit {
    margin-top: 15px !important;

    button {
      width: 150px !important;
      height: 40px !important;
      font-size: 15px !important;
    }
  }
}
