<div class="exchange-page">
  <div class="exchange-left-menu">
    <div class="synchronization">
      <button>{{'settings-exchange.synchronizationTCMB' | translate}}</button>
    </div>
    <div class="new-record">
      <button (click)="newRecordModal()">{{'settings-exchange.newRecord' | translate}}</button>
    </div>
    <div class="filter">
      <button>
        <img src="assets/icon/döviz-filtre.png">
        {{'settings-exchange.filter' | translate}}
      </button>
    </div>
    <div class="excel-export">
      <button>
       <img src="assets/icon/excel.svg">
      </button>
    </div>
  </div>

  <div class="exchange-table">
    <app-exchange-table></app-exchange-table>
  </div>
</div>

