.filter {
  button {
    &:hover {
      @apply bg-lapis-lazuli text-white #{!important};
      .hover-filter {
        @apply w-19px h-5 object-contain mr-5px #{!important};
        display: inherit !important;
      }

      .normal-filter {
        @apply w-19px h-5 object-contain mr-5px hidden #{!important};
      }
    }

    .hover-filter {
      @apply w-19px h-5 object-contain mr-5px;
      //display: none;
    }

    .normal-filter {
      @apply w-19px h-5 object-contain mr-5px;
      //display: inherit;
    }
  }
}

.excel-export {
  button {
    &:hover {
      @apply bg-lapis-lazuli;
      .hover-excel {
        @apply w-17px h-17px object-contain;
        display: inherit;
      }

      .normal-excel {
        @apply w-17px h-17px hidden object-contain;
      }
    }

    .normal-excel {
      @apply w-17px h-17px object-contain;
      display: inherit;
    }

    .hover-excel {
      @apply w-17px h-17px hidden object-contain;
    }
  }
}

.filter-popover {
  @apply w-330px;

  .form-control {
    input {
      @apply rounded-5px border-solid border-0.5 border-dark-charcoal bg-white mt-2.5 h-10;

      &:focus {
        @apply shadow-none outline-none;
      }
    }

    ::ng-deep .ant-picker {
      @apply block rounded-5px border-solid border-0.5 border-dark-charcoal bg-white mt-2.5 h-10;

      &:focus {
        @apply shadow-none outline-none;
      }

      .ant-picker-input > input {
        @apply h-30px;
      }

      .ant-picker-suffix {
        @apply text-black;
      }
    }

    .ant-select {
      @apply w-full mt-2.5;

      ::ng-deep .ant-select-selector {
        //height: 40px; [nzSize]="'large'" yaptık multiselect'lerde coklu seçimde kaymalar oluyor
        @apply border-solid border-0.5 border-dark-charcoal rounded-5px bg-white text-14;
      }

      ::ng-deep .ant-select-arrow {
        @apply text-black;
      }
    }
  }

  .btn-action1 {
    @apply max-w-50%;
    flex: 0 0 50%;
  }

  .btn-action2 {
    @apply max-w-50%;
    flex: 0 0 50%;
  }
}
