.filter {
  button {
    &:hover {
      background-color: #2d639f !important;
      color: #fff !important;
      .hover-filter {
        width: 19px;
        height: 20px;
        object-fit: contain;
        margin-right: 5px;
        display: inherit !important;
      }

      .normal-filter {
        width: 19px;
        height: 20px;
        object-fit: contain;
        margin-right: 5px;
        display: none !important;
      }
    }

    .hover-filter {
      width: 19px;
      height: 20px;
      object-fit: contain;
      margin-right: 5px;
      //display: none;
    }

    .normal-filter {
      width: 19px;
      height: 20px;
      object-fit: contain;
      margin-right: 5px;
      //display: inherit;
    }
  }
}

.excel-export {
  button {
    &:hover {
      background-color: #2d639f;
      .hover-excel {
        width: 17px;
        height: 17px;
        display: inherit;
        object-fit: contain;
      }

      .normal-excel {
        width: 17px;
        height: 17px;
        display: none;
        object-fit: contain;
      }
    }

    .normal-excel {
      width: 17px;
      height: 17px;
      display: inherit;
      object-fit: contain;
    }

    .hover-excel {
      width: 17px;
      height: 17px;
      display: none;
      object-fit: contain;
    }
  }
}

.filter-popover {
  width: 330px;

  .form-control {
    input {
      border-radius: 5px;
      border: solid 0.5px #ABABAB;
      background-color: #fff;
      margin-top: 10px;
      height: 40px;

      &:focus {
        box-shadow: none;
        outline: none;
      }
    }

    ::ng-deep .ant-picker {
      display: block;
      border-radius: 5px;
      border: solid 0.5px #ABABAB;
      background-color: #fff;
      margin-top: 10px;
      height: 40px;

      &:focus {
        box-shadow: none;
        outline: none;
      }

      .ant-picker-input > input {
        height: 30px;
      }

      .ant-picker-suffix {
        color: black;
      }
    }

    .ant-select {
      width: 100%;
      margin-top: 10px;
      ::ng-deep .ant-select-selector {
        //height: 40px; [nzSize]="'large'" yaptık multiselect'lerde coklu seçimde kaymalar oluyor
        border: solid 0.5px #ABABAB;
        border-radius: 5px;
        background-color: #fff;
        font-size: 14px;
      }

      ::ng-deep .ant-select-arrow {
        color: #000000;
      }
    }
  }

  .btn-action1 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .btn-action2 {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
