<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="332px"
            [nzCollapsedWidth]="121"
            nzBreakpoint="lg"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
  <app-sidebar></app-sidebar>
  </nz-sider>


  <nz-layout class="mb-[116px]">
    <nz-header>
      <div class="app-header">
        <app-header></app-header>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
