<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="332px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a [routerLink]="['/dashboard']">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>EHO</h1>
      </a>
    </div>
    <div class="absolute top-2">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <span class="trigger"
                  nz-icon
                  [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></span>
        </span>
    </div>
    <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-menu-item>
        <span nz-icon nzType="dashboard"></span>
        <span routerLink="/dashboard">{{'dashboard' | translate}}</span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="home"></span>
        <span routerLink="/welcome">{{'welcome' | translate}}</span>
      </li>
      <li nz-menu-item>
        <span nz-icon nzType="logout"></span>
        <span routerLink="/login">{{'logout' | translate}}</span>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <app-translate-page></app-translate-page>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
