<form nz-form [formGroup]="filterShareFormGroup">
  <div nz-row [nzGutter]="0">

    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
      <nz-form-item class="margin-b-0">
        <nz-form-label
          [nzSpan]="24"
          class="padding-0 text-20-normal font-normal">{{'account-activities-list-filter.users-send' | translate}}</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <app-nz-select
            [fg]="filterShareFormGroup"
            [controlName]="filterShareFormGroup.value.users"
            [formControlName]="'users'"
            [optionList]="[]"
            [label]="'account-activities-list-filter.users-send'"
            ngDefaultControl
          ></app-nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>

    <div nz-col [nzXs]="24" [nzSm]="24" [nzMd]="24" [nzLg]="24" [nzXl]="24" [nzXXl]="24">
      <nz-form-item class="margin-b-0">
        <nz-form-label
          [nzSpan]="24"
          class="padding-0 text-20-normal font-normal">{{'account-activities-list-filter.groups-send' | translate}}</nz-form-label>
        <nz-form-control [nzSpan]="24">
          <app-nz-select
            [fg]="filterShareFormGroup"
            [controlName]="filterShareFormGroup.value.groups"
            [formControlName]="'groups'"
            [optionList]="[]"
            [label]="'account-activities-list-filter.groups-send'"
            ngDefaultControl
          ></app-nz-select>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
</form>
