.sidebar-menu-label {
  @apply text-18 ml-[9px] font-medium
}

.sidebar-base-menu-label {
  @apply text-18 font-medium #{!important}
}

:host ::ng-deep .ant-menu-item:hover {
  @apply text-sapphire #{!important}
}

:host ::ng-deep .ant-menu-sub.ant-menu-inline {
  @apply bg-white #{!important};
}

.sidebar-menu-title {
  @apply text-15
}

:host ::ng-deep .ant-menu-submenu-title:hover {
  @apply text-sapphire #{!important};
  img {
    @apply stroke-sapphire #{!important};
  }
}

:host ::ng-deep .ant-menu-submenu:hover > .ant-menu-submenu-title {
  .ant-menu-submenu-arrow .ant-menu-submenu-arrow::before .ant-menu-submenu-arrow::after {
    @apply ml-0.5 border-1 w-[9px] bg-sapphire border-sapphire text-sapphire border-solid #{!important}
  }
}

:host ::ng-deep .ant-menu-submenu-arrow::before {
  @apply ml-0.5 border-1 w-[9px] border-solid border-black #{!important}
}

:host ::ng-deep .ant-menu-submenu-arrow::after {
  @apply border-1 w-[9px] border-solid border-black #{!important}
}


.sidebar-logo {
  @apply relative bg-white overflow-hidden;
  border-top-right-radius: 100px !important;
}

.sidebar-logo img {
  height: 106px;
  width: 106px;
  cursor: pointer;
}

:host ::ng-deep .ant-menu-submenu-open ul::before {
  content: '';
  @apply h-full w-px bg-silver left-[30px] absolute top-0 #{!important};
}

:host ::ng-deep .ant-menu-submenu-open ul {
  @apply pl-[26px] #{!important};
}

.ant-menu ul,
.ant-menu ol {
  @apply relative #{!important};
}

:host ::ng-deep .ant-menu-submenu-arrow {
  @apply right-[19px] #{!important};
}

@media only screen and (max-width: 640px) {
  :host ::ng-deep .ant-menu-submenu-arrow {
    @apply right-[35px] #{!important};
  }
}

@media only screen and (max-width: 1024px) {
  :host ::ng-deep .ant-menu-submenu-arrow {
    @apply right-[41px] #{!important};
  }
}

