.filter-list-table {
    ::ng-deep .ant-table {
      background-color: #f5f5f5;
    }

    ::ng-deep .ant-table-container table > thead > tr > th:first-child {
      border-radius: 15px 0 0 0;
    }

    ::ng-deep .ant-table-container table > thead > tr > th:last-child {
      border-radius: 0 15px 0 0;
    }

    ::ng-deep .ant-table-thead > tr > th {
      background: #2d639f;
      color: #fff;
      font-size: 15px;
    }

    ::ng-deep .ant-table-tbody > tr > td {
      font-size: 15px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #000;
      border-bottom: solid 0.5px #d3d3d3;
      border-right: solid 0.5px #d3d3d3;
    }

    ::ng-deep .ant-table-tbody > tr.child-table > td {
      background-color: #f2f2f2;
    }

    ::ng-deep .ant-table-column-sorter {
      color: #fff;
    }
}

.search-box {
  padding: 8px;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}

.demo-infinite-container {
  height: 110px;
}

.ant-list-split .ant-list-item {
  @apply border-b-0;
}

.ant-list-item {
  @apply py-1.5 px-0 #{!important};
}

nz-list {
  @apply px-1;
}

.ant-checkbox-wrapper {
  @apply text-15 #{!important};
}
