.filter-list-table {

  ::ng-deep .ant-table-selection-extra .anticon {
    font-size: 12px !important;
    color: #fff;
  }

  ::ng-deep .ant-checkbox-inner {
    border-radius: 5px;
    width: 25px;
    height: 25px;
  }

  ::ng-deep .ant-checkbox-inner::after {
    left: 34.5%;
  }

  ::ng-deep .ant-checkbox-indeterminate .ant-checkbox-inner::after {
    display: none;
  }
  ::ng-deep .ant-table {
    background-color: white;
  }

  ::ng-deep .ant-table-container table > thead > tr > th:first-child {
    border-radius: 15px 0 0 0;
  }

  ::ng-deep .ant-table-container table > thead > tr > th:last-child {
    border-radius: 0 15px 0 0;
  }

  ::ng-deep .ant-table-thead > tr > th {
    background: #2d639f;
    color: #fff;
    font-size: 15px;
  }

  ::ng-deep .ant-table-thead > tr > th:first-child {
    border-right: 0 !important;
  }

  ::ng-deep .ant-table-thead > tr > th:nth-last-child(2) {
    border-right: 0 !important;
  }

  ::ng-deep .ant-table-tbody > tr > td {
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000;
    border-bottom: solid 0.5px #d3d3d3 !important;
    border-right: solid 0.5px #d3d3d3 !important;
  }

  ::ng-deep .ant-table-tbody > tr > td:first-child {
    border-right: 0 !important;
  }

  ::ng-deep .ant-table-tbody > tr > td:last-child {
    border-right: 0 !important;
  }

  ::ng-deep .ant-table-tbody > tr > td:nth-last-child(2) {
    border-right: 0 !important;
  }

  ::ng-deep .ant-table-column-sorter {
    color: #fff;
  }
}

.search-box {
  padding: 8px;
}

.search-box button {
  width: 90px;
}

.search-button {
  margin-right: 8px;
}

.filter-infinite-container {
  height: 110px;
}

.add-column-infinite-container {
  height: 290px;
  width: 200px;
}

.add-column-container {
  @apply rounded-5px;
}

.column-save-button {
  @apply py-[9px] px-[55px] rounded-10px w-full mt-[25px] #{!important};
}

::ng-deep .cdk-drag-preview {
  display: table;
}

::ng-deep .cdk-drag-placeholder {
  opacity: 0;
}

.ant-list-split .ant-list-item {
  @apply border-b-0;
}

.ant-list-item {
  @apply py-1.5 px-0 #{!important};
}

nz-list {
  @apply px-1;
}

.ant-checkbox-wrapper {
  @apply text-15 #{!important};
}

.table-td {
  @apply border-0 border-transparent text-15 #{!important};
}

.background-anti-flash-white {
  @apply bg-anti-flash-white #{!important};
}

.other-img {
  @apply cursor-pointer;
}

::ng-deep .ant-modal-content {
  @apply rounded-10px p-0 #{!important};
}


.cdk-drop-list-dragging :not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-preview {
  box-sizing: border-box;

  min-width: 100px;
  padding: 15px;

  text-align: center;
  font-weight: bold;

  background-color: #fff;

  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  background: #efefef;
}


:host ::ng-deep .ant-table-filter-icon,
:host ::ng-deep .anticon-filter {
  right: auto !important;
  top: -2px;
  height: 50px;
}

.table-header-cell-utils {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 28px;
}


