<div class="flex justify-between">
  <div>
    <label class="text-20 text-black font-bold">{{'transactions-dashboard.bank-accounts' | translate}}</label>
  </div>
  <div>
    <a [routerLink]="['/ui/bank/bank-account']"
       class="text-20-normal">{{'transactions-dashboard.detail' | translate}}</a>
  </div>
</div>
<div class="rounded-20px bg-white shadow-silver-halice-lg mt-4 pt-[21px] h-full">

  <div class="px-[26px] max-w-full min-width-full relative">
    <swiper
      (swiper)="thumbsSwiper = $event"
      [loop]="true"
      [config]="swiperConfig"
      [freeMode]="true"
      [watchSlidesProgress]="true"
      class="mySwiper"
    >
      <ng-template swiperSlide *ngFor="let accounts of bankAccounts">
        <div class="swiper-slide-box">

          <img *ngIf="accounts.iconPath" [src]="accounts.iconPath"/>
          <div class="flex justify-center items-center h-full">
            <span *ngIf="!accounts.iconPath"> {{accounts.title}}</span>
          </div>
        </div>

      </ng-template>
    </swiper>

    <swiper
      [loop]="true"
      [spaceBetween]="10"
      #mySwiper2
      [thumbs]="{ swiper: thumbsSwiper }"
      class="mySwiper2"
    >
      <ng-template swiperSlide class="bank-accounts-table" *ngFor="let accounts of bankAccounts; let i = index">
        <nz-table class="w-[95%] h-[300px]" nzSize="small" #accountTable [nzData]="accounts.information"
                  [nzScroll]="{ y: '300px' }" [nzFrontPagination]="false"
                  [nzShowPagination]="false">
          <thead>
          </thead>
          <tbody>
          <tr class="bank-accounts-hover" (click)="bankAccountDetail(accounts.id)" *ngFor="let account of accountTable.data;let i  = index">
            <td class="currency-total-table-td " [ngClass]="{'background-anti-flash-white': i%2 === 1}">{{ account.accountNumber }} {{'transactions-dashboard.account' | translate}}</td>
            <td class="currency-total-table-td text-right" [ngClass]="{'background-anti-flash-white': i%2 === 1}">{{ account.value |  number: '2.2' }}   <span
              class="font-bold">{{account.currency }}</span></td>
          </tr>
          </tbody>
        </nz-table>
      </ng-template>

    </swiper>
    <div class="swiper-button-next" (click)="nextSlideComp()"></div>
    <div class="swiper-button-prev" (click)="previousSlideComp()"></div>
  </div>

  <ng-template #leftArrow>
    <div>Left</div>
  </ng-template>

</div>

