<div class="flex justify-between">
  <div>
    <label class="text-20 text-black font-bold">{{'transactions-dashboard.bank-accounts' | translate}}</label>
  </div>
  <div>
    <a class="text-new-car text-20-normal">{{'transactions-dashboard.detail' | translate}}</a>
  </div>
</div>
<div class="rounded-20px bg-white shadow-silver-halice-lg mt-4 pt-[21px] h-full">

  <div class="px-[26px] max-w-full min-width-full">

    <swiper
      [config]="swiperConfig"
      class="mySwiper"
      style="--swiper-navigation-color: #000;--swiper-pagination-color: #000"
      [navigation]="true"
      [loop]="true"
      [thumbs]="{ swiper: thumbsSwiper }"

    >
      <ng-template swiperSlide *ngFor="let accounts of bankAccounts">
        <div class="swiper-slide-box">

          <img *ngIf="accounts.iconPath" [src]="accounts.iconPath"/>
          <div class="flex justify-center items-center h-full">
            <span *ngIf="!accounts.iconPath"> {{accounts.title}}</span>
          </div>
        </div>

      </ng-template>
    </swiper>

    <swiper
      (swiper)="thumbsSwiper = $event"
      [spaceBetween]="10"
      [loop]="true"
      class="mySwiper2"
    >
      <ng-template swiperSlide *ngFor="let accouts of bankAccounts; let i = index">
        <nz-table class="w-[95%]" nzSize="small" #basicTable [nzData]="bankAccounts[i].information" [nzFrontPagination]="false"
                  [nzShowPagination]="false">
          <thead>
          </thead>
          <tbody>
          <tr *ngFor="let data of basicTable.data;let i  = index">
            <td class="currency-total-table-td " [ngClass]="{'background-anti-flash-white': i%2 === 1}">{{ data.accountNumber }} {{'transactions-dashboard.account' | translate}}</td>
            <td class="currency-total-table-td text-right" [ngClass]="{'background-anti-flash-white': i%2 === 1}">{{ data.value |  number: '2.2' }}   <span
              class="font-bold">{{data.currency }}</span></td>
          </tr>
          </tbody>
        </nz-table>
      </ng-template>

    </swiper>
  </div>


</div>

