@import "~swiper/css";
@import "~swiper/css/free-mode";
@import "~swiper/css/navigation";
@import "~swiper/css/thumbs";

.swiper {
  @apply w-full h-full;
}

.swiper-slide {
  @apply text-center text-18 bg-white flex justify-center items-center;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
}

.swiper-slide img {
  @apply block w-full h-full object-cover;
}

.swiper {
  @apply w-full h-[300px] ml-auto mr-auto;
}

.swiper-slide {
  @apply bg-cover bg-center;
}

.mySwiper2 {
  @apply h-auto w-full;
}

.mySwiper {
  @apply h-auto box-border px-[55px] py-2.5;
}

.mySwiper .swiper-slide {
  @apply w-1/4 h-full opacity-100;
}

.swiper-slide-box {
  @apply rounded-5px w-[116px] h-[116px] p-[1px] cursor-pointer;
  box-shadow: 0 3px 14px 0 rgba(173, 173, 173, 0.2);
}

.currency-total-table-td {
  @apply border-0 border-transparent text-18 px-7 #{!important};
}

.swiper-button-prev {
  @apply top-0 bg-white w-[55px] h-full items-start justify-start pt-[85px] pl-[19px] left-0 text-black;

  &::after {
    @apply font-bold;
  }
}

.swiper-button-next {
  @apply top-0 bg-white w-[55px] h-full items-start justify-end pt-[85px] pr-[19px] right-0 text-black;

  &::after {
    @apply font-bold;
  }
}

@media only screen and (max-width: 640px) {
  .swiper-slide-box {
    @apply w-[61px] h-[61px] p-0;
  }

  .swiper-button-next {
    @apply pt-[54px] #{!important};
    &::after {
      @apply text-20-normal;
    }
  }

  .swiper-button-prev {
    @apply pt-[54px] #{!important};
    &::after {
      @apply text-20-normal;
    }
  }

  .mySwiper {
    @apply pl-2.5 pr-[5px] #{!important};
  }

}

@media only screen and (max-width: 1024px) {
  .swiper-button-next {
    @apply pt-[80px];
    &::after {
      @apply text-25;
    }
  }

  .swiper-button-prev {
    @apply pt-[80px];
    &::after {
      @apply text-25;
    }
  }

  .mySwiper {
    @apply pl-5 pr-[21px] #{!important};
  }
}

@media only screen and (max-width: 1280px) {
  .swiper-button-next {
    @apply pt-[80px];
    &::after {
      @apply text-25;
    }
  }

  .swiper-button-prev {
    @apply pt-[80px];
    &::after {
      @apply text-25;
    }
  }

  .mySwiper {
    @apply pl-2 pr-2 #{!important};
  }
}

@media only screen and (max-width: 1640px) {
  .swiper-button-next {
    @apply pt-[80px];
    &::after {
      @apply text-25;
    }
  }

  .swiper-button-prev {
    @apply pt-[80px];
    &::after {
      @apply text-25;
    }
  }

  .mySwiper {
    @apply pl-3 pr-2 #{!important};
  }
}
@media only screen and (min-width: 1641px) {
  .swiper-button-next {
    @apply pt-[80px];
    &::after {
      @apply text-25;
    }
  }

  .swiper-button-prev {
    @apply pt-[80px];
    &::after {
      @apply text-25;
    }
  }

  .mySwiper {
    @apply pl-[35px] pr-[35px] #{!important};
  }
}

.mySwiper .swiper-slide-thumb-active {
  @apply opacity-100;

  .swiper-slide-box {
    @apply border-solid border-2 border-eton-blue;
    box-shadow: 0 3px 14px 0 rgba(123, 123, 123, 0.16);
  }
}

.swiper-slide img {
  @apply block w-full h-full object-contain;
}



.bank-accounts-table {
  @apply pt-5;
  nz-table {
    @apply rounded-5px;
    box-shadow: 0 3px 14px 0 rgba(126, 126, 126, 0.16);
  }

  .bank-accounts-hover {
    @apply cursor-pointer;
  }
}

