<div class="form-element-select" [formGroup]="fg">
  <nz-select nzShowSearch nzAllowClear [nzShowArrow]="true" [nzMaxTagCount]="controlName?.length === 1 ? 1 : 0"
             [nzMaxTagPlaceholder]="controlName?.length === 1 ? null : formLength" ngDefaultControl
             (ngModelChange)="selectChange($event, formControlName, controlName)" [nzSize]="'large'" [nzLoading]="nzSelectLoading"
             nzMode="multiple" formControlName="{{formControlName}}" [nzOptionOverflowSize]="heightPx">
    <nz-option nzCustomContent [nzLabel]="'Tümü'" [nzValue]="0">
    <!--  <label style="padding-right: 10px" nz-checkbox
             (ngModelChange)="allCheckboxChange($event, formControlName, controlName)" [(ngModel)]="allStatus" [ngModelOptions]="{standalone: true}">
      </label>-->
      <th
        [(nzChecked)]="checked"
        [nzIndeterminate]="false"
        (nzCheckedChange)="onAllChecked($event)"
      >
        <span class="pl-2" style="font-weight: 100;">{{"nz-select.all" |translate}}</span>
      </th>

    </nz-option>
    <nz-option *ngFor="let item of optionList" nzCustomContent [nzLabel]="item.name" [nzValue]="item.id">
      <!--<label style="padding-right: 10px" nz-checkbox
             (ngModelChange)="checkboxChange(item.id, $event, formControlName, controlName)" [(ngModel)]="item.status" [ngModelOptions]="{standalone: true}">
      </label>-->
      <td
        [nzChecked]="setOfCheckedId.has(item.id)"
        (nzCheckedChange)="onItemChecked(item.id, $event)"
      >
        <span class="pl-2">{{item.name}}</span>
      </td>
    </nz-option>
  </nz-select>
  <ng-template #formLength>
    <p *ngIf="checked">{{'nz-select.all-selected' | translate}}</p>
    <p *ngIf="!checked">{{controlName.length}}  {{'nz-select.selected' | translate}}</p>
  </ng-template>
</div>
