<div class="dbs">
<!--  <div class="dbs-header">-->
<!--    <div class="excel-export">-->
<!--      <button>-->
<!--        <img class="normal-excel" src="assets/icon/excel.svg">-->
<!--        <img class="hover-excel" src="assets/icon/hover-excel.svg">-->
<!--      </button>-->
<!--    </div>-->
<!--  </div>-->
  <div class="dbs-table">
    <nz-table
      #rowSelectionTable
      nzShowSizeChanger
      [nzData]="listOfData"
      [nzPageSize]="10"
      [nzShowSizeChanger]="true"
      [nzPageSizeOptions]="pageSize"
      (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
    >
      <thead>
      <tr>
        <th style="width: 35px"
          [(nzChecked)]="checked"
          [nzIndeterminate]="false"
          (nzCheckedChange)="onAllChecked($event)"
        ></th>
        <th [nzEllipsis]="true" *ngFor="let column of listOfColumn" [nzSortFn]="column.compare" [nzSortOrder]="column.sortOrder" width="{{column.width}}">
          {{column.title | translate}}
        </th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr  [ngStyle]="{'background-color': i%2 ? '#fff' : '#f5f5f5' }" *ngFor="let data of rowSelectionTable.data; let i = index">
        <td class="check-td" [nzChecked]="setOfCheckedId.has(data.id)" (nzCheckedChange)="onItemChecked(data.id, $event)"></td>
        <ng-container>
          <td>{{ data.user }}</td>
          <td>{{ data.title }}</td>
          <td>{{ data.mail }}</td>
          <td></td>
        </ng-container>
      </tr>
      </tbody>
    </nz-table>
  </div>
  <div class="page-shadow">
    <div class="flex">
      <div class="first">
        <div class="first-header">
          {{'system-settings.unexpiredOrders' | translate}}
        </div>
        <div class="first-content">
          <div class="flex">
            <div class="form-control">
              <div class="pb-[20px]">
                <label>{{'system-settings.radio4' | translate}}</label>
              </div>
              <nz-radio-group [(ngModel)]="expiry" nzName="radiogroup" [nzSize]="'large'">
                <label nz-radio nzValue="1">{{'system-settings.yes' | translate}}</label>
                <label nz-radio nzValue="0">{{'system-settings.no' | translate}}</label>
              </nz-radio-group>
            </div>
          </div>
        </div>
      </div>
      <div class="second">
        <div class="second-header">
          {{'system-settings.instructionOutcomeReading' | translate}}
        </div>
        <div class="second-content">
          <div class="flex">
            <div class="form-control">
              <div class="pb-[20px]">
              <label>{{'system-settings.radio5' | translate}}</label>
              </div>
              <nz-radio-group [(ngModel)]="instructions" nzName="radiogroup" [nzSize]="'large'">
                <label nz-radio nzValue="1">{{'system-settings.eho' | translate}}</label>
                <label nz-radio nzValue="0">{{'system-settings.bank' | translate}}</label>
              </nz-radio-group>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="eho-signer-submit">
    <button class="eho-signer-btn" (click)="save()">{{'system-settings.save' | translate}}</button>
  </div>
</div>
