.dbs {
  @apply pt-2.5 pr-30px pb-18px pl-5;

  .dbs-table {
    @apply pt-5;

    .ant-select {
      @apply w-full;
      ::ng-deep .ant-select-selector {
        //height: 40px; [nzSize]="'large'" yaptık multiselect'lerde coklu seçimde kaymalar oluyor
        @apply border-solid border-0.5 border-dark-charcoal rounded-5px bg-white text-14;
      }

      ::ng-deep .ant-select-arrow {
        @apply text-black;
      }
    }

    input {
      @apply border-solid border-0.5 border-dark-charcoal rounded-5px bg-white text-14;
    }

    .action-tab {
      @apply relative;

      .other {
        @apply absolute top-14px -left-5 cursor-pointer;

        img {
          @apply w-1.5 h-5 object-contain;
        }
      }

      .other-process {
        @apply absolute top-14px grid right-2.5;

        .save {
          @apply text-15 font-semibold tracking-normal text-left text-azure;
        }

        .delete {
          @apply text-15 font-semibold tracking-normal text-left text-permanent-geranium-lake;
        }
      }
    }
  }

  .page-shadow {
    @apply mt-35px rounded-15px  bg-white;
    box-shadow: 0 3px 14px 0 rgba(128, 128, 128, 0.1);

    .first {
      @apply max-w-50% rounded-tl-15px rounded-tr-0 rounded-br-0 rounded-bl-0;
      flex: 0 0 50%;

      .first-header {
        @apply text-20-normal font-medium tracking-normal text-white text-left bg-lapis-lazuli py-18px pr-0 pl-22px;
      }
    }

    .second {
      @apply max-w-50%;
      flex: 0 0 50%;

      .second-header {
        @apply text-20-normal font-medium tracking-normal text-left text-white  py-18px pr-0 pl-22px bg-lapis-lazuli border-solid border-1 border-platinum rounded-tl-0 rounded-tr-15px rounded-bl-0 rounded-br-0;
      }

      .second-content {
        @apply border-l-1 border-solid border-l-platinum;
      }
    }

    .form-control {
      //flex: 0 0 33%;
      //max-width: 33%;
      @apply mt-5 mr-0 mb-6 ml-23px;

      label {
        @apply text-20-normal font-light tracking-normal text-left text-black;
      }

      input {
        @apply rounded-5px border-solid border-0.5 border-dark-charcoal bg-white mt-2.5 h-45px;

        &:focus {
          @apply outline-none shadow-none;
        }
      }
    }
  }

  .eho-signer-submit {
    @apply mt-30px;

    button {
      @apply w-241px h-50px rounded-5px bg-eton-blue text-20-normal font-medium tracking-normal text-white;
    }
  }
}
