
.card {
  box-shadow: 0 3px 14px 0 rgba(196, 196, 196, 0.16);
  background-image: linear-gradient(to left, #87bfad, #2d64a0);

    .label {
      @apply font-semibold text-white text-left;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
    }

    .value {
      @apply font-semibold text-white text-left;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
    }

    .date {
      @apply font-medium text-white text-end;
      font-stretch: normal;
      font-style: normal;
      letter-spacing: normal;
    }
  }
