.document-page {
  @apply pt-15px pr-30px pb-2.5 pl-25px;

  .document-left-menu {
    @apply flex justify-end;

    .filter {
      //margin-right: 20px;

      button {
        @apply flex items-center h-10 rounded-5px bg-white text-15 tracking-normal text-left text-black py-0 px-17px;

        &:hover {
          @apply bg-lapis-lazuli text-white #{!important};
          .hover-filter {
            @apply w-19px h-5 object-contain mr-5px;
            display: inherit !important;
          }

          .normal-filter {
            @apply w-19px h-5 object-contain mr-5px hidden #{!important};
          }
        }

        .hover-filter {
          @apply w-19px h-5 object-contain mr-5px;
          //display: none;
        }

        .normal-filter {
          @apply w-19px h-5 object-contain mr-5px;
          //display: inherit;
        }
      }
    }

    //.excel-export {
    //
    //  button {
    //    width: 40px;
    //    height: 40px;
    //    border-radius: 5px;
    //    background-color: #ffffff;
    //
    //    &:hover {
    //      background-color: #2d639f;
    //      .hover-excel {
    //        width: 17px;
    //        height: 17px;
    //        display: inherit;
    //        object-fit: contain;
    //      }
    //
    //      .normal-excel {
    //        width: 17px;
    //        height: 17px;
    //        display: none;
    //        object-fit: contain;
    //      }
    //    }
    //
    //    .normal-excel {
    //      width: 17px;
    //      height: 17px;
    //      display: inherit;
    //      object-fit: contain;
    //    }
    //
    //    .hover-excel {
    //      width: 17px;
    //      height: 17px;
    //      display: none;
    //      object-fit: contain;
    //    }
    //  }
    //}
  }
}

.filter-popover {
  @apply w-330px;

  .form-filter {
    @apply pt-3;

    label {
      @apply text-16 tracking-normal text-left text-black;
    }

    input {
      @apply rounded-5px border-solid border-0.5 border-dark-charcoal bg-white mt-2.5 h-10;

      &:focus {
        @apply shadow-none outline-none;
      }
    }

    ::ng-deep .ant-picker {
      @apply block rounded-5px border-solid border-0.5 border-dark-charcoal bg-white mt-2.5 h-10;

      &:focus {
        @apply shadow-none outline-none;
      }

      .ant-picker-input > input {
        @apply h-30px;
      }

      .ant-picker-suffix {
        @apply text-black;
      }
    }

    .ant-select {
      @apply w-full;

      ::ng-deep .ant-select-selector {
        //height: 40px; [nzSize]="'large'" yaptık multiselect'lerde coklu seçimde kaymalar oluyor
        @apply border-solid border-0.5 border-dark-charcoal rounded-5px bg-white text-14;
      }

      ::ng-deep .ant-select-arrow {
        @apply text-black;
      }
    }

    .btn-action1 {
      @apply max-w-50% py-0 pr-2 pl-0;
      flex: 0 0 50%;

      .clear-btn {
        @apply w-full h-10 rounded-5px mt-2.5 bg-white text-16 font-medium tracking-normal border-solid border-1 border-eton-blue text-eton-blue;
      }
    }

    .btn-action2 {
      @apply max-w-50% py-0 pr-0 pl-2;
      flex: 0 0 50%;

      .save-btn {
        @apply w-full h-10 rounded-5px mt-2.5 bg-eton-blue text-16 font-medium transform text-center text-white;
      }
    }
  }
}
