<div class="main-title">
  <div class="title">{{'settings-exchange.newRecordCreate' | translate}}</div>
  <div class="close-icon" (click)="close()">X</div>
</div>
<div class="main-body" [formGroup]="createdForm">
  <div class="form-control">
    <label>{{'auth-management.groupName' | translate}}</label>
    <input nz-input formControlName="groupName"  type="text" />
  </div>
  <div class="form-control">
    <app-nz-select
      [fg]="createdForm"
      [controlName]="createdForm.value.userAssignment"
      [formControlName]="'userAssignment'"
      [optionList]="userList"
      [label]="'auth-management.userAssignment'"
      [labelClass]="'text-size-20'"
      ngDefaultControl
    ></app-nz-select>
  </div>
</div>
<div class="main-footer">
  <button class="cancel" (click)="close()">{{'settings-exchange.cancel' | translate}}</button>
  <button class="save" (click)="save()">{{'settings-exchange.approve' | translate}}</button>
</div>
