<div class="bank-auth-page">
  <div class="header-title" *ngIf="type && headerName">
    <span *ngIf="type === 'user'">{{'auth-management.user' | translate}}: {{headerName}}</span>
    <span *ngIf="type === 'group'">{{'auth-management.group' | translate}}: {{headerName}}</span>
  </div>
  <div class="page-shadow">
    <div class="header">
      <div (click)="stepClick('1')" [ngClass]="head1 ? 'flex-active': 'group-flex'">{{'auth-management.accountActivities' |translate }}</div>
      <div (click)="stepClick('2')" [ngClass]="head2 ? 'flex-active': 'group-flex'">POS</div>
      <div (click)="stepClick('3')" [ngClass]="head3 ? 'flex-active': 'group-flex'">DBS</div>
      <div (click)="stepClick('4')" [ngClass]="head4 ? 'flex-active': 'group-flex'">{{'auth-management.e-payment' |translate }}</div>
    </div>
    <div class="body">
      <app-selected-auth *ngIf="!type && !headerName"
        [saveButtonClickEvent]="saveAuthClickEvent"
        [userOptions]="userList"
        [groupOptions]="groupList"
        (authFormEvent)="selectedAuthForm = $event">
      </app-selected-auth>
      <app-account-activities
        *ngIf="head1"
        [saveButtonClickEvent]="saveAccountClickEvent"
        [currencyUnitOptions]="currencyUnitList"
        [companiesOptions]="companiesList"
        [banksOptions]="banksList"
        [branchesOptions]="branchesList"
        [accountTypesOptions]="accountTypesList"
        [accountOptions]="accountList"
        [willBorrowOptions]="willBorrowList"
        (accountFormEvent)="selectedAccountForm = $event">
      </app-account-activities>
      <app-pos
        *ngIf="head2"
        [saveButtonClickEvent]="savePosClickEvent"
        [currencyUnitOptions]="currencyUnitList"
        [companiesOptions]="companiesList"
        [banksOptions]="banksList"
        [branchesOptions]="branchesList"
        [accountTypesOptions]="accountTypesList"
        [accountOptions]="accountList"
        [willBorrowOptions]="willBorrowList"
        (posFormEvent)="selectedPosForm = $event"
      >
      </app-pos>
      <app-dbs
        *ngIf="head3"
        [saveButtonClickEvent]="saveDbsClickEvent"
        [currencyUnitOptions]="currencyUnitList"
        [companiesOptions]="companiesList"
        [banksOptions]="banksList"
        (dbsFormEvent)="selectedDbsForm = $event">
      </app-dbs>
      <app-e-payment
        *ngIf="head4"
        [saveButtonClickEvent]="savePaymentClickEvent"
        [currencyUnitOptions]="currencyUnitList"
        [companiesOptions]="companiesList"
        [banksOptions]="banksList"
        (paymentFormEvent)="selectedPaymentForm = $event">
      </app-e-payment>
    </div>
  </div>
  <div class="bank-submit">
    <button class="bank-btn" (click)="save()">{{'system-settings.save' | translate}}</button>
  </div>
</div>
