<div class="w-full">
  <div class="bg-eton-blue rounded-t-10px px-[30px] py-[17px]">
    <div class="w-full flex justify-between">
      <div class="text-white text-20-normal"> {{'auth-scheme.authorization' | translate}}</div>
      <div>
        <svg-icon src="assets/svg/close-icon.svg" [svgClass]="'filter-white'"
                  (click)="closeModal()"></svg-icon>
      </div>
    </div>
  </div>

  <div class="pt-[23px] px-[40px]">
    <form [formGroup]="createAuthorityFormGroup">
      <div class="w-full">
        <app-nz-select
          [fg]="createAuthorityFormGroup"
          [controlName]="createAuthorityFormGroup.value.groups"
          [formControlName]="'groups'"
          [optionList]="groups"
          [label]="'auth-scheme.group'"
          [labelClass]="'text-size-20'"
          ngDefaultControl
        ></app-nz-select>
      </div>
      <div class="mt-4 w-full">
        <app-nz-select
          [fg]="createAuthorityFormGroup"
          [controlName]="createAuthorityFormGroup.value.users"
          [formControlName]="'users'"
          [optionList]="users"
          [label]="'auth-scheme.user'"
          [labelClass]="'text-size-20'"
          ngDefaultControl
        ></app-nz-select>
      </div>
      <div class="mt-4 w-full">
        <app-nz-select
          [fg]="createAuthorityFormGroup"
          [controlName]="createAuthorityFormGroup.value.authorities"
          [formControlName]="'authorities'"
          [optionList]="authorities"
          [label]="'auth-scheme.authority'"
          [labelClass]="'text-size-20'"
          ngDefaultControl
        ></app-nz-select>
      </div>
    </form>

    <div class="flex py-[40px]">
      <div class="w-full pr-2">
        <button
          class="w-full px-[97px] py-[11px] bg-white text-eton-blue border-2 border-eton-blue text-20-normal rounded-10px hover:bg-white hover:text-eton-blue
          focus:bg-white focus:text-eton-blue active:border-eton-blue focus-visible:border-eton-blue"
          (click)="cancel()"
        >{{'account-activities-list-filter.receipt.cancel' | translate}}</button>
      </div>
      <div class="w-full pl-2">
        <button
          class="w-full px-[84px] py-[11px] bg-eton-blue text-white text-20-normal rounded-10px hover:bg-eton-blue hover:text-white focus:bg-eton-blue focus:text-white"
          (click)="approve()"
        >{{'account-activities-list-filter.receipt.approve' | translate}}</button>
      </div>
    </div>
  </div>
</div>
