.account-activities-detail {
  @apply mt-5 mb-0 mx-[30px];
  .account-excel-right {
    @apply relative p-0 pb-[50px];

    .excel-export {
      @apply w-[40px] absolute right-0 top-[-9px];

      button {
        @apply w-full h-[40px] rounded-5px bg-white;

        &:hover {
          @apply bg-sapphire;
          .hover-excel {
            @apply w-[17px] h-[17px] object-contain;
            display: inherit;
          }

          .normal-excel {
            @apply w-[17px] h-[17px] hidden object-contain;
          }
        }

        .normal-excel {
          @apply w-[17px] h-[17px] object-contain;
          object-fit: contain;
        }

        .hover-excel {
          @apply w-[17px] h-[17px] hidden object-contain;
        }
      }


    }
  }

  .account-detail {
    @apply rounded-15px bg-white;
    box-shadow: 0 3px 14px 0 rgba(128, 128, 128, 0.1);

    .account-header {
      @apply flex;

      .bank-image {
        @apply p-0 pl-6;

        img {
          @apply w-[129px] h-[65px] object-contain;
        }
      }

      .bank-color {
        @apply w-full rounded-tr-15px rounded-tl-15px p-0 pt-[17px] pl-[19px] h-[60px];

        span {
          @apply text-18 font-semibold tracking-normal text-left text-white;
        }
      }
    }

    .account-first-body {
      @apply flex mt-[33px] mr-[25px] mb-0 ml-[30px];

      .left-card {
        @apply rounded-10px bg-white max-w-49% m-0 mr-[12px] px-0 py-2.5;
        box-shadow: 0 0 14px 0 rgba(108, 108, 108, 0.16);
        flex: 0 0 50%;
      }

      .right-card {
        @apply rounded-10px bg-white max-w-49% m-0 ml-3 px-0 py-2.5;
        box-shadow: 0 0 14px 0 rgba(108, 108, 108, 0.16);
        flex: 0 0 50%;
      }

      .row-one {
        @apply flex bg-white py-2 pr-0 pl-[27px];
      }

      .row-two {
        @apply flex bg-anti-flash-white py-2 pr-0 pl-[27px];
      }

      .detail-label {
        @apply text-18 font-semibold tracking-normal text-left text-black max-w-25%;
        flex: 0 0 25%;
      }

      .detail-value {
        @apply text-18 font-normal tracking-normal text-left text-black max-w-75%;
        flex: 0 0 75%;
      }
    }

    .account-second-body {
      @apply mt-[33px] mr-[25px] mb-0 ml-[30px];

      .center-card {
        @apply rounded-10px bg-white;
        box-shadow: 0 0 14px 0 rgba(108, 108, 108, 0.16);

        .row-three {
          @apply flex bg-white py-2 pr-0 pl-[27px];
        }

        .row-four {
          @apply flex bg-anti-flash-white py-2 pr-0 pl-[27px];
        }

        .detail-label-three {
          @apply text-18 font-semibold tracking-normal text-left text-black max-w-25%;
          flex: 0 0 25%;
        }

        .detail-value-three {
          @apply text-18 font-normal tracking-normal text-left text-black max-w-75%;
          flex: 0 0 75%;
        }
      }
    }

    .account-footer {
      @apply flex mt-[50px] mr-[25px] mb-0 ml-[30px] pb-[35px];

      .account-footer-balance {
        @apply rounded-10px bg-white max-w-49% m-0 mr-[30px] py-[10px] pr-[10px] pl-[25px];
        flex: 0 0 50%;
      }

      .account-footer-amount {
        @apply rounded-10px bg-white max-w-49% m-0 mr-3  py-[10px] pr-[10px] pl-[25px];
        flex: 0 0 50%;
      }

      .footer-label {
        @apply text-25 font-semibold tracking-normal text-left text-black;
      }

      .footer-value {
        @apply text-25 font-normal tracking-normal text-left text-black pl-5;
      }

    }
  }
}

@media (max-width: 1200px) {
  .account-first-body {
    @apply block #{!important};

    .left-card {
      @apply max-w-full #{!important};
      flex: 0 0 100% !important;
    }

    .right-card {
      @apply max-w-full m-0 mt-[30px] #{!important};
      flex: 0 0 100% !important;
    }
  }

  .account-footer {
    @apply block #{!important};

    .account-footer-balance {
      @apply max-w-full m-0 #{!important};
      flex: 0 0 100% !important;
    }

    .account-footer-amount {
      @apply max-w-full m-0 mt-5 #{!important};
      flex: 0 0 100% !important;
    }
  }
}
