<div class="account-activities-detail">
  <div class="account-excel-right">
    <div class="excel-export">
      <button>
        <img src="assets/icon/excel-icon.png">
      </button>
    </div>
  </div>
  <div class="account-detail">
    <div class="account-header">
      <div class="bank-image">
        <img src="assets/img/bank-account/akbank.png">
      </div>
      <div class="bank-color" [ngStyle]="{'background-color': bankDetail?.color}">
        <span>{{"account-activities-detail.process-id" | translate}}: {{bankDetail?.id}}</span>
      </div>
    </div>
    <div class="account-first-body">
      <div class="left-card">
        <div class="row-one">
          <div class="detail-label">{{"account-activities-detail.company" | translate}}:</div><div class="detail-value">Firma A</div>
        </div>
        <div class="row-two">
          <div class="detail-label">{{"account-activities-detail.bank" | translate}}:</div><div class="detail-value">Akbank</div>
        </div>
        <div class="row-one">
          <div class="detail-label">{{"account-activities-detail.branch" | translate}}:</div><div class="detail-value">Altunizade Şubesi</div>
        </div>
        <div class="row-two">
          <div class="detail-label">{{"account-activities-detail.account-type" | translate}}:</div><div class="detail-value">Genel</div>
        </div>
        <div class="row-one">
          <div class="detail-label">{{"account-activities-detail.account-no" | translate}}:</div><div class="detail-value">2323-232323232-3232</div>
        </div>
        <div class="row-two">
          <div class="detail-label">{{"account-activities-detail.date" | translate}}:</div><div class="detail-value">02.11.2018 15:57</div>
        </div>
        <div class="row-one">
          <div class="detail-label">{{"account-activities-detail.iban-no" | translate}}:</div><div class="detail-value">TR100000763487366374687</div>
        </div>
      </div>
      <div class="right-card">
        <div class="row-one">
          <div class="detail-label">Firma:</div><div class="detail-value">Firma A</div>
        </div>
        <div class="row-two">
          <div class="detail-label">Banka:</div><div class="detail-value">Akbank</div>
        </div>
        <div class="row-one">
          <div class="detail-label">Şube:</div><div class="detail-value">Altunizade Şubesi</div>
        </div>
        <div class="row-two">
          <div class="detail-label">Hesap Türü:</div><div class="detail-value">Genel</div>
        </div>
        <div class="row-one">
          <div class="detail-label">Hesap Numarası:</div><div class="detail-value">2323-232323232-3232</div>
        </div>
        <div class="row-two">
          <div class="detail-label">Tarih:</div><div class="detail-value">02.11.2018 15:57</div>
        </div>
        <div class="row-one">
          <div class="detail-label">IBAN Numarası:</div><div class="detail-value">TR100000763487366374687</div>
        </div>
      </div>
    </div>
    <div class="account-second-body">
      <div class="center-card">
        <div class="row-three">
          <div class="detail-label-three">Müşteri/Satıcı Eşleşme:</div><div class="detail-value-three">Firma A</div>
        </div>
        <div class="row-four">
          <div class="detail-label-three">ERP İşlenme Güncelleme Tarihi:</div><div class="detail-value-three">Firma A</div>
        </div>
        <div class="row-three">
          <div class="detail-label-three">ERP İşleme Güncelleyen Kullanıcı:</div><div class="detail-value-three">Firma A</div>
        </div>
        <div class="row-four">
          <div class="detail-label-three">ERP İşleyen Kullanıcı:</div><div class="detail-value-three">Firma A</div>
        </div>
        <div class="row-three">
          <div class="detail-label-three">ERP:</div><div class="detail-value-three">Firma A</div>
        </div>
        <div class="row-four">
          <div class="detail-label-three">Açıklama</div><div class="detail-value-three">Firma A</div>
        </div>
        <div class="row-three">
          <div class="detail-label-three">Müşteri/Satıcı Eşleşme:</div><div class="detail-value-three">Firma A</div>
        </div>
        <div class="row-four">
          <div class="detail-label-three">ERP İşlenme Güncelleme Tarihi:</div><div class="detail-value-three">Firma A</div>
        </div>
        <div class="row-three">
          <div class="detail-label-three">ERP İşleme Güncelleyen Kullanıcı:</div><div class="detail-value-three">Firma A</div>
        </div>
        <div class="row-four">
          <div class="detail-label-three">ERP İşleyen Kullanıcı:</div><div class="detail-value-three">Firma A</div>
        </div>
        <div class="row-three">
          <div class="detail-label-three">ERP:</div><div class="detail-value-three">Firma A</div>
        </div>
        <div class="row-four">
          <div class="detail-label-three">Açıklama</div><div class="detail-value-three">Firma A</div>
        </div>
        <div class="row-three">
          <div class="detail-label-three">Müşteri/Satıcı Eşleşme:</div><div class="detail-value-three">Firma A</div>
        </div>
        <div class="row-four">
          <div class="detail-label-three">ERP İşlenme Güncelleme Tarihi:</div><div class="detail-value-three">Firma A</div>
        </div>
        <div class="row-three">
          <div class="detail-label-three">ERP İşleme Güncelleyen Kullanıcı:</div><div class="detail-value-three">Firma A</div>
        </div>
        <div class="row-four">
          <div class="detail-label-three">ERP İşleyen Kullanıcı:</div><div class="detail-value-three">Firma A</div>
        </div>
        <div class="row-three">
          <div class="detail-label-three">ERP:</div><div class="detail-value-three">Firma A</div>
        </div>
        <div class="row-four">
          <div class="detail-label-three">Açıklama</div><div class="detail-value-three">Firma A</div>
        </div>
        <div class="row-three">
          <div class="detail-label-three">Müşteri/Satıcı Eşleşme:</div><div class="detail-value-three">Firma A</div>
        </div>
        <div class="row-four">
          <div class="detail-label-three">ERP İşlenme Güncelleme Tarihi:</div><div class="detail-value-three">Firma A</div>
        </div>
        <div class="row-three">
          <div class="detail-label-three">ERP İşleme Güncelleyen Kullanıcı:</div><div class="detail-value-three">Firma A</div>
        </div>
        <div class="row-four">
          <div class="detail-label-three">ERP İşleyen Kullanıcı:</div><div class="detail-value-three">Firma A</div>
        </div>
        <div class="row-three">
          <div class="detail-label-three">ERP:</div><div class="detail-value-three">Firma A</div>
        </div>
        <div class="row-four">
          <div class="detail-label-three">Açıklama</div><div class="detail-value-three">Firma A</div>
        </div>
      </div>
    </div>
    <div class="account-footer">
      <div class="account-footer-balance">
        <span class="footer-label">Bakiye :</span><span class="footer-value">1.323.323,04 TL</span>
      </div>
      <div class="account-footer-amount">
        <span class="footer-label">Tutar :</span><span class="footer-value">1.323TL</span>
      </div>
    </div>
  </div>
</div>
