.text-align-right {
  @apply text-right #{!important};
}

.currency-total-table-th {
  @apply bg-gray-x11 border-0 border-transparent font-bold text-18 px-7 py-1 #{!important};
}

.currency-total-table-td {
  @apply border-0 border-transparent text-18 px-7 h-[33px] #{!important};
}

.background-anti-flash-white {
  @apply bg-anti-flash-white #{!important};
}

:host ::ng-deep .nz-table-hide-scrollbar {
    @apply overflow-hidden #{!important};
}

.summaries {
  ::ng-deep .ant-segmented-item-label {
    @apply min-h-[41px] flex justify-center items-center text-clip text-16 #{!important};
  }
}

.currency-type {
  ::ng-deep .ant-segmented-item-label {
    @apply min-h-[41px] flex justify-center items-center text-clip text-14 #{!important};
  }
}

::-webkit-scrollbar {
  width: 2px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(7, 7, 7);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #009eb3;
}


