<div class="rounded-20px bg-white shadow-silver-halice-lg mt-[45px] pt-[32px] h-full">
  <div class="summaries w-full">
    <app-segment-bar *ngIf="currencySummariesSegmentBarConfig.data.length > 0" [segmentBarConfig]="currencySummariesSegmentBarConfig" (selectedSegmentEvent)="changeSegment($event)"></app-segment-bar>
  </div>

  <div class="mt-[29px] block h-full">

    <div *ngIf="selectedIndex === 1 && currencyTotals.length > 0" class="pb-[20px]">
      <nz-table nzSize="small"  nzShowPagination="false" #currencyTotalsData  [nzData]="currencyTotals">
        <thead>
        <tr>
          <th class="currency-total-table-th">{{'transactions-dashboard.currency-type' | translate}}</th>
          <th class="currency-total-table-th" nzAlign="right" [nzLeft]="false">{{'transactions-dashboard.total' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let currencyTotal of currencyTotalsData.data;let i = index">
          <td class="currency-total-table-td" [ngClass]="{'background-anti-flash-white': i%2 === 1}">{{currencyTotal.label}}</td>
          <td nzAlign="right" class="currency-total-table-td" [ngClass]="{'background-anti-flash-white': i%2 === 1}">{{currencyTotal.value | number:'2.2'}}</td>
        </tr>
        </tbody>
      </nz-table>
    </div>
    <ng-template #virtualScroll></ng-template>

    <div *ngIf="selectedIndex === 2" class="currency-type">
      <app-segment-bar [segmentBarConfig]="currenciesSegmentBarConfig" (selectedSegmentEvent)="currencyBarChange($event)"></app-segment-bar>

      <div class="pt-[26px]">
        <nz-table [nzScroll]="{ y: '252px' }"
                  nzSize="small" nzShowPagination="false" #bankAccountByCurrency *ngIf="bankAccountsByCurrency.length > 0" [nzData]="bankAccountsByCurrency">
          <thead>
          <tr>
            <th class="currency-total-table-th">{{'transactions-dashboard.bank' | translate}}</th>
            <th class="currency-total-table-th" nzAlign="right" [nzLeft]="false">{{'transactions-dashboard.amount' | translate}}</th>
          </tr>
          </thead>
          <tbody class="side-bar">
          <tr *ngFor="let bankAmount of bankAccountByCurrency.data;let i = index">
            <td *ngIf="bankAmount.iconPath" class="currency-total-table-td" [ngClass]="{'background-anti-flash-white': i%2 === 1}"><img [src]="bankAmount?.iconPath" alt="bankIcon" width="80" /></td>
            <td *ngIf="!bankAmount.iconPath" class="currency-total-table-td" [ngClass]="{'background-anti-flash-white': i%2 === 1}">{{bankAmount?.title}}</td>
            <td nzAlign="right" class="currency-total-table-td" [ngClass]="{'background-anti-flash-white': i%2 === 1}">{{bankAmount?.information?.value | number: '2.2'}} <span class="font-bold">{{currencyConversionType}}</span></td>
          </tr>
          </tbody>
        </nz-table>
      </div>

    </div>

  </div>
</div>

