<!--begin::Form-->
<form class="form-otp" [formGroup]="otpForm">
  <div class="form-header">
    <div class="header-title">{{"portalLoginTile" | translate}}</div>
  </div>
  <div class="otp-img">
    <img src="../../../../assets/img/login-img/login-otp-lock.png">
  </div>
  <div class="otp-body-title">
    {{"verification" | translate}}
  </div>
  <div class="form-group mt-10">
    <div class="form-position">
      <input class="rounded-lg"
             onlyNumber
             type="text"
             maxlength="10"
             formControlName="code"
             nz-input>
    </div>
  </div>

  <div class="form-group btn-submit">
    <button
      type="submit"
      class="btn loginBtn"
      [ngStyle]="otpForm.invalid ? {'cursor': 'no-drop'} : {'cursor': 'pointer'}"
      (click)="otpClick()"
      [disabled]="otpForm.invalid"
    >
      {{'verify' | translate}}
    </button>
  </div>
</form>
<!--end::Form-->
