::ng-deep .ant-modal-body {
  @apply p-0;
}

.main-title {
  @apply flex bg-eton-blue pt-15px pr-30px pb-2.5 pl-7 text-20 font-medium tracking-normal text-left text-white rounded-tl-10px rounded-tr-10px rounded-br-0 rounded-bl-0;

  .close-icon {
    @apply absolute right-15px top-3 text-25 cursor-pointer;
  }
}

.main-body  {
  @apply pt-2.5 px-35px pb-25px;

  .form-control {
    @apply pt-15px;

    label {
      @apply text-20 font-light tracking-normal text-left text-black;
    }

    input {
      @apply rounded-5px border-solid border-0.5 border-dark-charcoal bg-white mt-2.5 h-45px;

      &:focus {
        @apply shadow-none outline-none;
      }
    }

    ::ng-deep .ant-picker {
      @apply block rounded-5px border-solid border-0.5 border-dark-charcoal bg-white mt-2.5 h-45px;

      &:focus {
        @apply shadow-none outline-none;
      }

      .ant-picker-input > input {
        @apply h-35px;
      }

      .ant-picker-suffix {
        color: black;
      }
    }

    .ant-select {
      width: 100%;
      margin-top: 10px;
      ::ng-deep .ant-select-selector {
        //height: 40px; [nzSize]="'large'" yaptık multiselect'lerde coklu seçimde kaymalar oluyor
        border: solid 0.5px #ABABAB;
        border-radius: 5px;
        height: 45px;
        align-items: center;
        background-color: #fff;
        font-size: 14px;
      }

      ::ng-deep .ant-select-arrow {
        color: #000000;
      }
    }
  }

  .form-row-1 {
    padding: 15px 5px 0 0;
    flex: 0 0 50%;
    max-width: 50%;
  }

  .form-row-2 {
    padding: 15px 0 0 5px;
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.main-footer {
  justify-content: center;
  display: flex;
  padding-bottom: 40px;
  padding-top: 10px;

  .cancel {
    width: 250px;
    height: 50px;
    border-radius: 10px;
    border: solid 2px #87bfad !important;
    background-color: #fff;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #87bfad;
    margin-right: 8px;
  }

  .save {
    width: 250px;
    height: 50px;
    border-radius: 10px;
    background-color: #87bfad;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    margin-left: 8px;
  }
}
