.environment-settings {
  @apply pt-5 pr-30px pb-0 pl-5;

  .page-shadow {
    @apply rounded-15px bg-white;
    box-shadow: 0 3px 14px 0 rgba(128, 128, 128, 0.1);

    .first {
      .first-form-control {
        flex: 0 0 25%;
        max-width: 21%;
        @apply mt-5 mr-0 mb-6 ml-23px;

        label {
          @apply text-16 font-light tracking-normal text-left text-black;
        }

        input {
          @apply rounded-5px border-solid border-0.5 border-dark-charcoal bg-white mt-2.5 h-10;

          &:focus {
            @apply shadow-none outline-none;
          }
        }

        .ant-select {
          @apply w-full mt-2.5;
          ::ng-deep .ant-select-selector {
            //height: 40px; [nzSize]="'large'" yaptık multiselect'lerde coklu seçimde kaymalar oluyor
            @apply border-solid border-0.5 border-dark-charcoal rounded-5px bg-white text-14;
          }

          ::ng-deep .ant-select-arrow {
            @apply text-black;
          }
        }
      }
    }

    .second {
      .second-form-control {
        flex: 0 0 25%;
        max-width: 17%;
        @apply mt-5 mr-0 mb-6 ml-23px;

        label {
          @apply text-16 font-light tracking-normal text-left text-black;
        }

        nz-input-number {
          @apply rounded-5px;

          ::ng-deep .ant-input-number-handler-wrap {
            @apply rounded-5px;
          }
        }
      }
    }

    .third {
      @apply my-30px mr-0 ml-23px;

      .third-title {
        @apply text-16 font-light tracking-normal text-black pb-2.5;
      }

      label {
        @apply text-16 font-light tracking-normal text-left text-black;
      }
    }

    .fourth {
      @apply my-30px mr-0 ml-23px;

      .fourth-title {
        @apply text-16 font-light tracking-normal text-left text-black pb-2.5;
      }

      label {
        @apply text-16 text-16 tracking-normal text-left text-black;
      }
    }

    .fifth {
      @apply my-30px mr-0 ml-23px pb-30px;

      .fifth-title {
        @apply text-16 font-light tracking-normal text-left text-black pb-2.5;
      }

      label {
        @apply text-16 font-light tracking-normal text-left text-black;
      }
    }
  }
  .environment-settings-submit {
    @apply mt-30px;

    button {
      @apply w-241px h-50px rounded-10px bg-eton-blue text-20-normal font-medium tracking-normal text-white;
    }
  }

  nz-radio-group {
    ::ng-deep .ant-radio-checked .ant-radio-inner {
      @apply border-eton-blue;

      &:after {
        @apply bg-eton-blue;
      }
    }
  }
}
