<div
  class="bg-white rounded-10px ml-[25px] mr-[36px] system-tools pb-7 md:pb-56 lg:pb-96 xl:pb-36 2xl:pb-48 3xl:pb-32 4xl:pb-96">

  <div class="w-full pt-5 pl-5 pb-2 pr-5 4xl:pr-0">
    <label class="font-bold text-18">
      {{'system-tools.e-signature-links.title' | translate}}
    </label>
  </div>

  <nz-divider></nz-divider>
  <div class="pt-2 pl-5 pr-5 4xl:pr-0">

    <div>
      <label class="text-16">
        {{'system-tools.e-signature-links.title' | translate}}
      </label>
    </div>

    <div class="pt-8 pl-2">
      <ul>
        <li class="text-16">1. {{'system-tools.e-signature-links.first-item' | translate}}
          <a href="#"
             class="underline text-lapis-lazuli hover:underline focus:underline">
            {{'system-tools.e-signature-links.first-item-link' | translate}}</a></li>
        <li class="text-16 mt-2">2. {{'system-tools.e-signature-links.second-item' | translate}}
          <a href="#"
             class="underline text-lapis-lazuli hover:underline focus:underline">{{'system-tools.e-signature-links.second-item-link' | translate}}</a>
        </li>
        <li class="text-16 mt-2">3. {{'system-tools.e-signature-links.third-item' | translate}}
        </li>
        <li class="text-16 mt-2">4. {{'system-tools.e-signature-links.four-item' | translate}}
          <a href="#"
             class="underline text-lapis-lazuli hover:underline focus:underline">{{'system-tools.e-signature-links.four-item-link' | translate}}</a></li>
      </ul>
    </div>

  </div>

  <div class="w-full pt-16 pl-5 pb-2 pr-5 4xl:pr-0">
    <label class="font-bold text-18">
      {{'system-tools.api-information.title' | translate}}
    </label>
  </div>

  <nz-divider></nz-divider>

  <div class="pt-2 pl-5 pr-5 4xl:pr-0">
    <ul>
      <li class="text-16 pl-2">{{'system-tools.api-information.first-item' | translate}}
      </li>
      <li class="mt-3"><a href="#" class="text-lapis-lazuli text-16">https://ehoapi.netbt.com</a></li>
    </ul>
  </div>

</div>
