.system-tools {
  ::ng-deep .ant-divider-horizontal {
    @apply m-0 ml-5 w-97% min-w-97% #{!important};
  }
}

.excel-export {

  button {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #ffffff;

    &:hover {
      background-color: #2d639f;
      .hover-excel {
        width: 17px;
        height: 17px;
        display: inherit;
        object-fit: contain;
      }

      .normal-excel {
        width: 17px;
        height: 17px;
        display: none;
        object-fit: contain;
      }
    }

    .normal-excel {
      width: 17px;
      height: 17px;
      display: inherit;
      object-fit: contain;
    }

    .hover-excel {
      width: 17px;
      height: 17px;
      display: none;
      object-fit: contain;
    }
  }
}
