<div>
  <button
    class="w-[129px]"
    nz-button
    (click)="open()"
    nzSize="large"
  >
    <span class="display-flex">
       <img width="13" height="13" src="../../../../../../assets/icon/plus.svg"/>
       <span class="text-15 text-black">{{'account-activities-list.all-filters' | translate}}</span>
    </span>
  </button>

  <nz-drawer
    [nzClosable]="false"
    [nzVisible]="visibleDrawer"
    [nzPlacement]="'top'"
    [nzTitle]="filterDrawerTitle"
    (nzOnClose)="close()"
  >
    <ng-container *nzDrawerContent>
      <div class="grid grid-rows-10">
        <div [formGroup]="filterFormGroup">

          <div class="flex flex-col">
            <label class="text-16">{{'favorite.filters' | translate}}</label>
            <nz-select nzSize="large" class="w-full mt-2.5" nzAllowClear *ngIf="favoriteFilters" [nzOptions]="favoriteFilters">
            </nz-select>
          </div>

          <div class="mt-2.5">
            <label class="text-16">{{'account-activities-list-filter.startDate' | translate}}</label>
            <div class="flex mt-2.5">
              <nz-date-picker nzSize="large" nzPlaceHolder="Tarih" formControlName="startDate"></nz-date-picker>
              <nz-time-picker nzSize="large" [nzNowText]="'Şimdi'" nzPlaceHolder="Saat" formControlName="startDateHour"
                              class="ml-4" nzFormat="HH:mm"></nz-time-picker>
            </div>

          </div>

          <div class="mt-2.5">
            <label class="text-16">{{'account-activities-list-filter.endDate' | translate}}</label>
            <div class="flex mt-2.5">
              <nz-date-picker nzSize="large" nzPlaceHolder="Tarih" formControlName="endDate"></nz-date-picker>
              <nz-time-picker nzSize="large" [nzNowText]="'Şimdi'" nzPlaceHolder="Saat" formControlName="endDateHour"
                              class="ml-4" nzFormat="HH:mm"></nz-time-picker>
            </div>
          </div>

          <div class="mt-2.5">
            <app-nz-select
              [fg]="filterFormGroup"
              [controlName]="filterFormGroup.value.currencyUnits"
              [formControlName]="'currencyUnits'"
              [optionList]="currencyUnits"
              [label]="'account-activities-list-filter.currency-unit'"
              ngDefaultControl
            ></app-nz-select>
          </div>

          <div class="mt-2.5">
            <app-nz-select
              [fg]="filterFormGroup"
              [controlName]="filterFormGroup.value.willBorrows"
              [formControlName]="'willBorrows'"
              [optionList]="willBorrows"
              [label]="'account-activities-list-filter.willBorrows'"
              ngDefaultControl
            ></app-nz-select>
          </div>

          <div class="mt-2.5">
            <app-nz-select
              [fg]="filterFormGroup"
              [controlName]="filterFormGroup.value.companies"
              [formControlName]="'companies'"
              [optionList]="currencyUnits"
              [label]="'account-activities-list-filter.companies'"
              ngDefaultControl
            ></app-nz-select>
          </div>


          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </ng-container>


  </nz-drawer>
  <ng-template #filterDrawerTitle>
    <p class="text-22 text-lapis-lazuli">{{'account-activities-list.filter' | translate}}</p>
  </ng-template>
</div>
