<div class="w-full relative">
<div class="p-6 mb-[10%] 4xl:mb-0">
  <div class="flex mt-[20px] justify-between pr-[43px] pl-[10px]">
    <label class="text-22 uppercase text-lapis-lazuli">{{'account-activities-list.filter' | translate}}</label>
    <span class="cursor-pointer" (click)="closeFilterDrawer()" nz-icon nzType="close" nzTheme="outline"></span>
  </div>

  <form nz-form [formGroup]="filterFormGroup" class="pl-[10px] pr-[43px] mt-[37px]">

    <div nz-row [nzGutter]="177">
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="6">
        <nz-form-item class="margin-b-0">
          <nz-form-label [nzSpan]="24" nzFor="favoriteFilter"
                         class="padding-0">{{'favorite.filters' | translate}}</nz-form-label>
          <nz-form-control [nzSpan]="24">
            <nz-select nzSize="large" nzId="favoriteFilter" class="w-full" nzAllowClear
                       formControlName="favoriteFilter"
                       [nzOptions]="favoriteFilters">
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="6">
        <nz-form-item class="margin-b-0">
<!--          <nz-form-label
            [nzSpan]="24"
            class="padding-0">{{'account-activities-list-filter.transaction-types' | translate}}</nz-form-label>-->
          <nz-form-control [nzSpan]="24">
            <app-nz-select
              [fg]="filterFormGroup"
              [controlName]="filterFormGroup.value.transactionTypes"
              [formControlName]="'transactionTypes'"
              [optionList]="[]"
              [label]="'account-activities-list-filter.transaction-types'"
              [labelClass]="'text-size-14'"
              ngDefaultControl
            ></app-nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="6">
        <nz-form-item class="margin-b-0">
          <nz-form-label
            [nzSpan]="24"
            class="padding-0">{{'account-activities-list-filter.receipt-number' | translate}}</nz-form-label>
          <nz-form-control [nzSpan]="24">
            <input class="f-input" nzSize="large" nz-input formControlName="receiptNumber"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="12" [nzXl]="8" [nzXXl]="6">
        <nz-form-item class="margin-b-0">
          <nz-form-label
            [nzSpan]="24">{{'account-activities-list-filter.user-updating-erp-processing' | translate}}</nz-form-label>
          <nz-form-control [nzSpan]="24">
            <input class="f-input" nzSize="large" nz-input formControlName="userUpdatingErpProcessing"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="6">
        <nz-form-item class="margin-b-0">
          <nz-form-label class="padding-0" [nzSpan]="24"
                         nzFor="startDate">{{'account-activities-list-filter.startDate' | translate}}</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <nz-date-picker nzSize="large" nzPlaceHolder="Tarih" formControlName="startDate"></nz-date-picker>
          </nz-form-control>
          <nz-form-control [nzSpan]="12">
            <nz-time-picker nzSize="large" [nzNowText]="'Şimdi'" formControlName="startDateHour"
                            class="ml-4" nzFormat="HH:mm"></nz-time-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="6">
        <nz-form-item class="margin-b-0">
<!--          <nz-form-label class="padding-0" [nzSpan]="24"
                         nzFor="documentGroups">{{'account-activities-list-filter.document-groups' | translate}}</nz-form-label>-->
          <nz-form-control [nzSpan]="24">
            <app-nz-select
              [fg]="filterFormGroup"
              [controlName]="filterFormGroup.value.documentGroups"
              [formControlName]="'documentGroups'"
              [optionList]="[]"
              [label]="'account-activities-list-filter.document-groups'"
              [labelClass]="'text-size-14'"
              ngDefaultControl
            ></app-nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="6">
        <nz-form-item class="margin-b-0">
          <nz-form-label class="padding-0" [nzSpan]="24"
                         nzFor="description">{{'account-activities-list-filter.document-groups' | translate}}</nz-form-label>
          <nz-form-control [nzSpan]="24">
            <input class="f-input" nzSize="large" id="description" nz-input formControlName="description"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="6">
        <nz-form-item class="margin-b-0">
          <nz-form-label class="padding-0" [nzSpan]="24"
                         nzFor="additionalFieldFirst">{{'account-activities-list-filter.additional-field-first' | translate}}</nz-form-label>
          <nz-form-control [nzSpan]="24">
            <input class="f-input" nzSize="large" id="additionalFieldFirst" nz-input
                   formControlName="additionalFieldFirst"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="6">
        <nz-form-item class="margin-b-0">
          <nz-form-label class="padding-0" [nzSpan]="24"
                         nzFor="startDate">{{'account-activities-list-filter.endDate' | translate}}</nz-form-label>
          <nz-form-control [nzSpan]="12">
            <nz-date-picker nzSize="large" nzPlaceHolder="Tarih" formControlName="endDate"></nz-date-picker>
          </nz-form-control>
          <nz-form-control [nzSpan]="12">
            <nz-time-picker nzSize="large" [nzNowText]="'Şimdi'" nzPlaceHolder="Saat" formControlName="endDateHour"
                            class="ml-4" nzFormat="HH:mm"></nz-time-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="6">
        <nz-form-item class="margin-b-0">
<!--          <nz-form-label class="padding-0" [nzSpan]="24"
                         nzFor="documentGroups">{{'account-activities-list-filter.document-types' | translate}}</nz-form-label>-->
          <nz-form-control [nzSpan]="24">
            <app-nz-select
              [fg]="filterFormGroup"
              [controlName]="filterFormGroup.value.documentTypes"
              [formControlName]="'documentTypes'"
              [optionList]="[]"
              [label]="'account-activities-list-filter.document-types'"
              [labelClass]="'text-size-14'"
              ngDefaultControl
            ></app-nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="6">
        <nz-form-item class="margin-b-0">
          <nz-form-label class="padding-0" [nzSpan]="24"
                         nzFor="descriptionSecond">{{'account-activities-list-filter.description-second' | translate}}</nz-form-label>
          <nz-form-control [nzSpan]="24">
            <input class="f-input" nzSize="large" id="descriptionSecond" nz-input
                   formControlName="descriptionSecond"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="6">
        <nz-form-item class="margin-b-0">
          <nz-form-label class="padding-0" [nzSpan]="24"
                         nzFor="additionalFieldSecond">{{'account-activities-list-filter.additional-field-second' | translate}}</nz-form-label>
          <nz-form-control [nzSpan]="24">
            <input class="f-input" nzSize="large" id="additionalFieldSecond" nz-input
                   formControlName="additionalFieldSecond"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="6">
        <nz-form-item class="margin-b-0">
<!--          <nz-form-label class="padding-0" [nzSpan]="24"
                         nzFor="startDate">{{'account-activities-list-filter.currency-unit' | translate}}</nz-form-label>-->
          <nz-form-control [nzSpan]="24">
            <app-nz-select
              [fg]="filterFormGroup"
              [controlName]="filterFormGroup.value.currencyUnits"
              [formControlName]="'currencyUnits'"
              [optionList]="currencyUnits"
              [label]="'account-activities-list-filter.currency-unit'"
              [labelClass]="'text-size-14'"
              ngDefaultControl
            ></app-nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="6">
        <nz-form-item class="margin-b-0">
<!--          <nz-form-label class="padding-0" [nzSpan]="24"
                         nzFor="typeConversion">{{'account-activities-list-filter.type-conversion' | translate}}</nz-form-label>-->
          <nz-form-control [nzSpan]="24">
            <app-nz-select
              [fg]="filterFormGroup"
              [controlName]="filterFormGroup.value.typeConversion"
              [formControlName]="'typeConversion'"
              [optionList]="[]"
              [label]="'account-activities-list-filter.type-conversion'"
              [labelClass]="'text-size-14'"
              ngDefaultControl
            ></app-nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="6">
        <nz-form-item class="margin-b-0">
          <nz-form-label class="padding-0" [nzSpan]="24"
                         nzFor="customerDescription">{{'account-activities-list-filter.customer-description' | translate}}</nz-form-label>
          <nz-form-control [nzSpan]="24">
            <input class="f-input" nzSize="large" id="customerDescription" nz-input
                   formControlName="customerDescription"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="6">
        <nz-form-item class="margin-b-0">
          <nz-form-label class="padding-0" [nzSpan]="24"
                         nzFor="additionalFieldThird">{{'account-activities-list-filter.additional-field-third' | translate}}</nz-form-label>
          <nz-form-control [nzSpan]="24">
            <input class="f-input" nzSize="large" id="additionalFieldThird" nz-input
                   formControlName="additionalFieldThird"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="6">
        <nz-form-item class="margin-b-0">
<!--          <nz-form-label class="padding-0" [nzSpan]="24"
                         nzFor="willBorrows">{{'account-activities-list-filter.willBorrows' | translate}}</nz-form-label>-->
          <nz-form-control [nzSpan]="24">
            <app-nz-select
              [fg]="filterFormGroup"
              [controlName]="filterFormGroup.value.willBorrows"
              [formControlName]="'willBorrows'"
              [optionList]="willBorrows"
              [label]="'account-activities-list-filter.willBorrows'"
              [labelClass]="'text-size-14'"
              ngDefaultControl
            ></app-nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="6">
        <nz-form-item class="margin-b-0">
<!--          <nz-form-label class="padding-0" [nzSpan]="24"
                         nzFor="conversionType">{{'account-activities-list-filter.conversion-type' | translate}}</nz-form-label>-->
          <nz-form-control [nzSpan]="24">
            <app-nz-select
              [fg]="filterFormGroup"
              [controlName]="filterFormGroup.value.conversionType"
              [formControlName]="'conversionType'"
              [optionList]="[]"
              [label]="'account-activities-list-filter.conversion-type'"
              [labelClass]="'text-size-14'"
              ngDefaultControl
            ></app-nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="6">
        <nz-form-item class="margin-b-0">
          <nz-form-label class="padding-0" [nzSpan]="24"
                         nzFor="valorStartDate">{{'account-activities-list-filter.valor-start-end-date' | translate}}</nz-form-label>
          <nz-form-control [nzSpan]="11">
            <nz-date-picker nzSize="large" nzPlaceHolder="Tarih" formControlName="valorStartDate"></nz-date-picker>
          </nz-form-control>
          <nz-form-control [nzSpan]="11" class="ml-[25px]">
            <nz-date-picker nzSize="large" nzPlaceHolder="Tarih"
                            formControlName="valorEndDate"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="6">
        <nz-form-item class="margin-b-0">
          <nz-form-label class="padding-0" [nzSpan]="24"
                         nzFor="additionalFieldFourth">{{'account-activities-list-filter.additional-field-fourth' | translate}}</nz-form-label>
          <nz-form-control [nzSpan]="24">
            <input class="f-input" nzSize="large" id="additionalFieldFourth" nz-input
                   formControlName="additionalFieldFourth"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="6">
        <nz-form-item class="margin-b-0">
<!--          <nz-form-label class="padding-0" [nzSpan]="24"
                         nzFor="companies">{{'account-activities-list-filter.companies' | translate}}</nz-form-label>-->
          <nz-form-control [nzSpan]="24">
            <app-nz-select
              [fg]="filterFormGroup"
              [controlName]="filterFormGroup.value.companies"
              [formControlName]="'companies'"
              [optionList]="companies"
              [label]="'account-activities-list-filter.companies'"
              [labelClass]="'text-size-14'"
              (selectedChange)="companiesChange($event)"
              ngDefaultControl
            ></app-nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="6">
        <nz-form-item class="margin-b-0">
          <nz-form-label class="padding-0" [nzSpan]="24"
                         nzFor="amountRangeStart">{{'account-activities-list-filter.amount-range' | translate}}</nz-form-label>
          <nz-form-control [nzSpan]="11">
            <nz-input-number class="f-input w-full" nzSize="large" formControlName="amountRangeStart" [nzMin]="0"
                             [nzMax]="100000000000"
                             nzPlaceHolder="En az"
                             [nzStep]="1"></nz-input-number>
          </nz-form-control>
          <nz-form-control [nzSpan]="11">
            <nz-input-number class="f-input w-full ml-[25px]" nzSize="large" formControlName="amountRangeEnd"
                             [nzMin]="0"
                             [nzMax]="100000000000"
                             nzPlaceHolder="En çok"
                             [nzStep]="1"></nz-input-number>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="6">
        <nz-form-item class="margin-b-0">
          <nz-form-label class="padding-0" [nzSpan]="24"
                         nzFor="creationTimeframeStartDate">{{'account-activities-list-filter.creation-timeframe' | translate}}</nz-form-label>
          <nz-form-control [nzSpan]="11">
            <nz-date-picker nzSize="large" nzPlaceHolder="Tarih"
                            formControlName="creationTimeframeStartDate"></nz-date-picker>
          </nz-form-control>
          <nz-form-control [nzSpan]="11" class="ml-[25px]">
            <nz-date-picker nzSize="large" nzPlaceHolder="Tarih"
                            formControlName="creationTimeframeEndDate"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="6">
        <nz-form-item class="margin-b-0">
          <nz-form-label class="padding-0" [nzSpan]="24"
                         nzFor="additionalFieldFifth">{{'account-activities-list-filter.additional-field-fifth' | translate}}</nz-form-label>
          <nz-form-control [nzSpan]="24">
            <input class="f-input" nzSize="large" id="additionalFieldFifth" nz-input
                   formControlName="additionalFieldFifth"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="6">
        <nz-form-item class="margin-b-0">
<!--          <nz-form-label class="padding-0" [nzSpan]="24"
                         nzFor="companies">{{'account-activities-list-filter.banks' | translate}}</nz-form-label>-->
          <nz-form-control [nzSpan]="24">
            <app-nz-select
              [fg]="filterFormGroup"
              [controlName]="filterFormGroup.value.banks"
              [formControlName]="'banks'"
              [optionList]="[]"
              [label]="'account-activities-list-filter.banks'"
              [labelClass]="'text-size-14'"
              (selectedChange)="banksChange($event)"
              ngDefaultControl
            ></app-nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="6">
        <nz-form-item class="margin-b-0">
          <nz-form-label class="padding-0" [nzSpan]="24"
                         nzFor="accountNumber">{{'account-activities-list-filter.account-number' | translate}}</nz-form-label>
          <nz-form-control [nzSpan]="24">
            <input class="f-input" nzSize="large" id="accountNumber" nz-input formControlName="accountNumber"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="6">
        <nz-form-item class="margin-b-0">
          <nz-form-label class="padding-0" [nzSpan]="24"
                         nzFor="updateTimeframeStartDate">{{'account-activities-list-filter.update-timeframe' | translate}}</nz-form-label>
          <nz-form-control [nzSpan]="11">
            <nz-date-picker nzSize="large" nzPlaceHolder="Tarih"
                            formControlName="updateTimeframeStartDate"></nz-date-picker>
          </nz-form-control>
          <nz-form-control [nzSpan]="11" class="ml-[25px]">
            <nz-date-picker nzSize="large" nzPlaceHolder="Tarih"
                            formControlName="updateTimeframeEndDate"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="6">
        <nz-form-item class="margin-b-0">
          <nz-form-label class="padding-0" [nzSpan]="24"
                         nzFor="additionalFieldSixth">{{'account-activities-list-filter.additional-field-sixth' | translate}}</nz-form-label>
          <nz-form-control [nzSpan]="24">
            <input class="f-input" nzSize="large" id="additionalFieldSixth" nz-input
                   formControlName="additionalFieldSixth"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="6">
        <nz-form-item class="margin-b-0">
<!--          <nz-form-label class="padding-0" [nzSpan]="24"
                         nzFor="branches">{{'account-activities-list-filter.branches' | translate}}</nz-form-label>-->
          <nz-form-control [nzSpan]="24">
            <app-nz-select
              [fg]="filterFormGroup"
              [controlName]="filterFormGroup.value.branches"
              [formControlName]="'branches'"
              [optionList]="[]"
              [label]="'account-activities-list-filter.branches'"
              [labelClass]="'text-size-14'"
              (selectedChange)="branchesChange($event)"
              ngDefaultControl
            ></app-nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="6">
        <nz-form-item class="margin-b-0">
          <nz-form-label class="padding-0" [nzSpan]="24"
                         nzFor="taxOrTckn">{{'account-activities-list-filter.tax-or-tckn' | translate}}</nz-form-label>
          <nz-form-control [nzSpan]="24">
            <input class="f-input" nzSize="large" id="taxOrTckn" nz-input formControlName="taxOrTckn"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="6">
        <nz-form-item class="margin-b-0">
          <nz-form-label class="padding-0" [nzSpan]="24"
                         nzFor="erpStatus">{{'account-activities-list-filter.erp-status' | translate}}</nz-form-label>
          <nz-form-control [nzSpan]="24">
            <nz-select nzSize="large" class="w-full" nzId="erpStatus" nzAllowClear formControlName="erpStatus"
                       [nzOptions]="favoriteFilters">
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="0" [nzXl]="0" [nzXXl]="6">
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="6">
        <nz-form-item class="margin-b-0">
<!--          <nz-form-label class="padding-0" [nzSpan]="24"
                         nzFor="branches">{{'account-activities-list-filter.account-types' | translate}}</nz-form-label>-->
          <nz-form-control [nzSpan]="24">
            <app-nz-select
              [fg]="filterFormGroup"
              [controlName]="filterFormGroup.value.accountTypes"
              [formControlName]="'accountTypes'"
              [optionList]="[]"
              [label]="'account-activities-list-filter.account-types'"
              [labelClass]="'text-size-14'"
              (selectedChange)="accountTypesChange($event)"
              ngDefaultControl
            ></app-nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="6">
        <nz-form-item class="margin-b-0">
          <nz-form-label class="padding-0" [nzSpan]="24"
                         nzFor="ibanNumber">{{'account-activities-list-filter.iban-number' | translate}}</nz-form-label>
          <nz-form-control [nzSpan]="24">
            <input class="f-input" nzSize="large" id="ibanNumber" nz-input formControlName="ibanNumber"/>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="6">
        <nz-form-item class="margin-b-0">
          <nz-form-label class="padding-0" [nzSpan]="24"
                         nzFor="erpTimeframeStartDate">{{'account-activities-list-filter.erp-timeframe' | translate}}</nz-form-label>
          <nz-form-control [nzSpan]="11">
            <nz-date-picker nzSize="large" nzPlaceHolder="Tarih"
                            formControlName="erpTimeframeStartDate"></nz-date-picker>
          </nz-form-control>
          <nz-form-control [nzSpan]="11" class="ml-[25px]">
            <nz-date-picker nzSize="large" nzPlaceHolder="Tarih"
                            formControlName="erpTimeframeEndDate"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="0" [nzXl]="0" [nzXXl]="6">
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="6">
        <nz-form-item class="margin-b-0">
<!--          <nz-form-label class="padding-0" [nzSpan]="24"
                         nzFor="accounts">{{'account-activities-list-filter.accounts' | translate}}</nz-form-label>-->
          <nz-form-control [nzSpan]="24">
            <app-nz-select
              [fg]="filterFormGroup"
              [controlName]="filterFormGroup.value.accounts"
              [formControlName]="'accounts'"
              [optionList]="[]"
              [label]="'account-activities-list-filter.accounts'"
              [labelClass]="'text-size-14'"
              (selectedChange)="accountsChange($event)"
              ngDefaultControl
            ></app-nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="6">
        <nz-form-item class="margin-b-0">
          <nz-form-label class="padding-0" [nzSpan]="24"
                         nzFor="referenceNumber">{{'account-activities-list-filter.reference-number' | translate}}</nz-form-label>
          <nz-form-control [nzSpan]="24">
            <input class="f-input" nzSize="large" id="referenceNumber" nz-input formControlName="referenceNumber"/>

          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="24" [nzSm]="12" [nzMd]="12" [nzLg]="8" [nzXl]="8" [nzXXl]="6">
        <nz-form-item class="margin-b-0">
          <nz-form-label class="padding-0" [nzSpan]="24"
                         nzFor="erpProcessingUpdateTimeframeStartDate">{{'account-activities-list-filter.erp-processing-update-timeframe' | translate}}</nz-form-label>
          <nz-form-control [nzSpan]="11">
            <nz-date-picker nzSize="large" nzPlaceHolder="Tarih"
                            formControlName="erpProcessingUpdateTimeframeStartDate"></nz-date-picker>
          </nz-form-control>
          <nz-form-control [nzSpan]="11" class="ml-[25px]">
            <nz-date-picker nzSize="large" nzPlaceHolder="Tarih"
                            formControlName="erpProcessingUpdateTimeframeEndDate"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzXs]="0" [nzSm]="0" [nzMd]="0" [nzLg]="0" [nzXl]="0" [nzXXl]="6">
      </div>
    </div>

  </form>

</div>
<div class="grid grid-cols-2 fixed bottom-0 w-full bg-eton-blue py-[17px]">
  <div class="pl-[34px]">
    <button *ngIf="isValueChanged" nz-button nzSize="large" (click)="saveFilter()"
            class="rounded-10px bg-white text-eton-blue px-[52px] py-[7px] focus:border-eton-blue focus:text-eton-blue hover:border-eton-blue hover:text-eton-blue">
      {{'account-activities-list-filter.save' | translate}}
    </button>
    <button *ngIf="isValueChanged" nz-button nzSize="large" (click)="shareFilter()"
            class="rounded-10px bg-white text-eton-blue px-[56px] py-[7px] ml-[17px] focus:border-eton-blue focus:text-eton-blue hover:border-eton-blue hover:text-eton-blue">
      {{'account-activities-list-filter.share' | translate}}
    </button>
  </div>
  <div class="text-right pr-[67px]">
    <button nz-button nzSize="large" (click)="clearAllFilter()"
            class="rounded-10px bg-transparent text-white px-[15px] py-[7px] mr-[11px] focus:border-white focus:text-white focus:bg-transparent hover:border-white hover:text-white hover:bg-transparent">
      {{'account-activities-list-filter.clear-all' | translate}}
    </button>
    <button nz-button nzSize="large" (click)="inquireFilter()"
            class="rounded-10px bg-white text-eton-blue px-[47px] py-[7px] focus:border-eton-blue focus:text-eton-blue hover:border-eton-blue hover:text-eton-blue">
      {{'account-activities-list-filter.inquire' | translate}}
    </button>
  </div>
</div>
</div>
<ng-template #filterShareComponentTitle>
  <label class="text-20-normal font-bold">{{'account-activities-list-filter.filter-share' | translate}}</label>
</ng-template>

<ng-template #filterShareComponentFooter>
  <button
    class="py-[11px] bg-eton-blue text-white text-20-normal rounded-10px w-full hover:bg-eton-blue hover:text-white focus:bg-eton-blue focus:text-white">{{'account-activities-list-filter.share' | translate}}</button>
</ng-template>
