.bank-account-detail-header {
  //padding: 0 0 0 18px;

  .header-img {
    display: flex;
    align-items: center;

    img {
      width: 113px;
      height: 63px;
      object-fit: contain;
    }

    .header-money-type {
      font-size: 25px;
      font-weight: 600;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: #000;
      margin-left: 23px;
    }
  }
  //
  //.header-account {
  //  font-size: 18px;
  //  font-weight: normal;
  //  font-stretch: normal;
  //  font-style: normal;
  //  line-height: normal;
  //  letter-spacing: normal;
  //  text-align: left;
  //  color: #000;
  //}
}
