.bank-list {
  @apply pr-7 pl-5;

  .line-chart {
    @apply mb-[90px] relative;

    .change-img {
      @apply absolute right-0 top-[-7px];

      img {
        @apply w-[55px] h-[30px] object-contain cursor-pointer;
      }
    }
  }

  .detail-list {
    @apply rounded-10px bg-white w-full mb-[30px];
    box-shadow: 0 3px 14px 0 rgba(121, 121, 121, 0.16);

    .list-image {
      @apply pt-[6px] pl-[19px];

      img {
        @apply w-[129px] h-[50px] object-contain;
      }
    }

    .account {
      @apply flex flex-wrap pt-[30px] pb-2.5 pl-[13px];

      .account-list {
        @apply max-w-25% py-0 px-[15px] mb-[30px];
        flex: 0 0 25%;

        .total-price {
          @apply text-30 tracking-normal text-left;

          .total {
            @apply font-semibold text-black;
          }
          .money-type {
            @apply font-bold text-sapphire py-0 pr-0 pl-2.5;
          }
        }

        .total-account {
          @apply pt-2.5 pb-0 px-0 relative;

          .title {
            @apply text-18 tracking-normal text-left text-black;
          }

          .error {
            @apply absolute right-[35px] top-4;

             img {
               @apply w-6 h-6 object-contain;
             }
          }
        }

        .detail-process {
          @apply text-18 font-semibold text-left text-sapphire cursor-pointer pt-[15px] pb-0 px-0;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .account-list {
    flex: 0 0 33.3% !important;
    max-width: 33.3% !important;
  }
}

@media (max-width: 800px) {
  .account-list {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}

@media (max-width: 400px) {
  .account-list {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}
