<div [formGroup]="paymentForm">
  <div class="payment-flex">
    <div class="form-control">
      <app-nz-select
        [fg]="paymentForm"
        [controlName]="paymentForm.value.currencyUnit"
        [formControlName]="'currencyUnit'"
        [optionList]="currencyUnitOptions"
        [label]="'auth-management.currencyUnit'"
        [labelClass]="'text-size-20'"
        ngDefaultControl
      ></app-nz-select>
    </div>
    <div class="form-control">
      <app-nz-select
        [fg]="paymentForm"
        [controlName]="paymentForm.value.companies"
        [formControlName]="'companies'"
        [optionList]="companiesOptions"
        [label]="'auth-management.companies'"
        [labelClass]="'text-size-20'"
        ngDefaultControl
      ></app-nz-select>
    </div>
    <div class="form-control">
      <app-nz-select
        [fg]="paymentForm"
        [controlName]="paymentForm.value.banks"
        [formControlName]="'banks'"
        [optionList]="banksOptions"
        [label]="'auth-management.banks'"
        [labelClass]="'text-size-20'"
        ngDefaultControl
      ></app-nz-select>
    </div>
  </div>
</div>
