<div [formGroup]="paymentForm">
  <div class="flex">
    <div class="form-control">
      <label>{{'auth-management.currencyUnit' | translate}}</label>
      <nz-select [nzSize]="'large'" formControlName="currencyUnit" nzAllowClear>
        <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
      </nz-select>
    </div>
    <div class="form-control">
      <label>{{'auth-management.companies' | translate}}</label>
      <nz-select [nzSize]="'large'" formControlName="companies" nzAllowClear>
        <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
      </nz-select>
    </div>
    <div class="form-control">
      <label>{{'auth-management.banks' | translate}}</label>
      <nz-select [nzSize]="'large'" formControlName="banks" nzAllowClear>
        <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
      </nz-select>
    </div>
  </div>
</div>
