.dashboard {
  @apply w-full h-full bg-cultured-earl pt-[50px] pr-[15px] pb-0 pl-2.5;

  .module {
    @apply flex flex-wrap;

    .module-list {
      @apply max-w-25% py-0 px-[15px] mb-[30px];
      flex: 0 0 25%;

      .card {
        @apply relative rounded-20px bg-white z-0 overflow-hidden cursor-pointer w-full pt-[45px] pr-0 pb-[35px] pl-[35px];
        box-shadow: 0 0 30px 0 rgba(129, 129, 129, 0.12);

        &:before {
          @apply absolute -z-[1] top-0 left-0 w-[14px] bg-sapphire;
          content: "";
          height: calc(100%);
        }

        &:hover {
          background-image: linear-gradient(to left, #87bfad, #2d64a0);

          .image {
            @apply hidden #{!important};
          }

          .light-image {
            @apply block #{!important};
          }

          .title {
            @apply text-white #{!important};
          }

          .icon {
            @apply text-white #{!important};
          }
        }

        .module-image {
          img {
            @apply w-[90px] h-[90px] object-contain;

            &.image {
              @apply block;
            }

            &.light-image {
              @apply hidden;
            }
          }
        }

        .module-title {
          @apply flex relative;

          .title {
            @apply text-22 font-semibold tracking-normal text-left text-lapis-lazuli;
          }

          .icon {
            @apply text-22 font-semibold tracking-normal text-left text-lapis-lazuli justify-end flex absolute pt-[7px] px-0 pb-0 top-0 right-[45px];
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .module-list {
    flex: 0 0 50% !important;
    max-width: 50% !important;
  }
}

@media (max-width: 650px) {
  .module-list {
    flex: 0 0 100% !important;
    max-width: 100% !important;
  }
}
