.pdf-page {

  &:hover {
    background-color: #dbecff;
    padding: 6px;
    margin: -6px;
  }

  img {
    width: 30px;
    object-fit: contain;
    cursor: pointer;
  }
}

.back-image {
  background-color: #dbecff;
  padding: 6px;
  margin: -6px;
}
