.pdf-page {

  img {
    width: 30px;
    object-fit: contain;
    cursor: pointer;

    &:hover {
      border-radius: 5px;
      background-color: #dbecff;
    }
  }
}

.back-image {
  background-color: #dbecff;
  padding: 6px;
  margin: -6px;
}
