page-shadow {
  box-shadow: 0 3px 14px 0 rgba(128, 128, 128, 0.1);
}

.header {
  background: linear-gradient(to right, #2d639f, #87bfad) !important;

  .title {
    @apply text-15 font-medium tracking-normal text-left text-white py-18px px-25px #{!important};
  }
}


.form-control {
  flex: 0 0 14%;

  input {
    @apply rounded-5px border-solid border-0.5 border-white h-10;

    &:focus {
      @apply shadow-none outline-none;
    }
  }


  .dataCreated {
    flex: 0 0 16%;

    input {
      @apply rounded-5px border-solid border-0.5 border-dark-charcoal bg-white h-10 #{!important};

      &:focus {
        @apply shadow-none outline-none;
      }
    }
  }
}

