.tag-page {
  padding: 15px 30px 10px 25px;
  .tag-left-menu {
    display: flex;
    justify-content: end;

    .new-record {
      padding-right: 10px;

      button {
        height: 40px;
        border-radius: 5px;
        background-color: #fff;
        font-size: 15px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: #000;
        padding: 0 17px 0 17px;

        &:hover {
          background-color: #2d639f !important;
          color: #fff !important;
        }
      }
    }

    .excel-export {

      button {
        width: 40px;
        height: 40px;
        border-radius: 5px;
        background-color: #ffffff;

        &:hover {
          background-color: #2d639f;
          .hover-excel {
            width: 17px;
            height: 17px;
            display: inherit;
            object-fit: contain;
          }

          .normal-excel {
            width: 17px;
            height: 17px;
            display: none;
            object-fit: contain;
          }
        }

        .normal-excel {
          width: 17px;
          height: 17px;
          display: inherit;
          object-fit: contain;
        }

        .hover-excel {
          width: 17px;
          height: 17px;
          display: none;
          object-fit: contain;
        }
      }
    }
  }

  .tag-table {
    padding-top: 25px;
  }

}
