.mail-settings {
  @apply pt-5 pr-30px pb-0 pl-5;

  .page-shadow {
    @apply rounded-15px bg-white;
    box-shadow: 0 3px 14px 0 rgba(128, 128, 128, 0.1);

    .first {
      @apply pt-6 pr-5 pb-30px pl-5;

      .form-control {
        flex: 0 0 33%;
        max-width: 33%;

        label {
          @apply text-20-normal font-light tracking-normal text-left text-black;
        }

        input {
          @apply rounded-5px border-solid border-0.5 border-dark-charcoal bg-white mt-2.5 h-45px;

          &:focus {
            @apply shadow-none outline-none;
          }
        }
      }
    }
  }

  .mail-settings-submit {
    @apply mt-30px;

    button {
      @apply w-241px h-50px rounded-10px bg-eton-blue text-20-normal font-medium tracking-normal text-white;
    }
  }
}
