<div class="flex">
  <div class="basis-1/2 action-leftSide pl-[5px]">
    <div class="flex hidden xl:block">
      <ng-container #container></ng-container>
    </div>
    <div class="cursor-pointer block xl:hidden">
      <svg-icon src="assets/svg/hamburger-icon.svg" [svgClass]="'filter-white'"
                (click)="changeMenu()"></svg-icon>
    </div>
  </div>
  <div class="basis-1/2 action-rightSide">
    <div class="flex">
      <div class="pdf">
        <app-pdf></app-pdf>
      </div>
      <div class="up-line"></div>
      <div class="favorite">
        <app-favorite></app-favorite>
      </div>
      <div class="up-line"></div>
      <div class="translate">
        <app-translate-page></app-translate-page>
      </div>
      <div class="up-line"></div>
      <div class="profile">
        <app-profile></app-profile>
      </div>
    </div>
  </div>
</div>
