<div [formGroup]="accountActivities">
  <div class="account-activities">
    <div class="form-control">
      <app-nz-select
        [fg]="accountActivities"
        [controlName]="accountActivities.value.currencyUnit"
        [formControlName]="'currencyUnit'"
        [optionList]="currencyUnitOptions"
        [label]="'auth-management.currencyUnit'"
        [labelClass]="'text-size-20'"
        ngDefaultControl
      ></app-nz-select>
    </div>
    <div class="form-control">
      <app-nz-select
        [fg]="accountActivities"
        [controlName]="accountActivities.value.companies"
        [formControlName]="'companies'"
        [optionList]="companiesOptions"
        [label]="'auth-management.companies'"
        [labelClass]="'text-size-20'"
        ngDefaultControl
      ></app-nz-select>
    </div>
    <div class="form-control">
      <app-nz-select
        [fg]="accountActivities"
        [controlName]="accountActivities.value.banks"
        [formControlName]="'banks'"
        [optionList]="banksOptions"
        [label]="'auth-management.banks'"
        [labelClass]="'text-size-20'"
        ngDefaultControl
      ></app-nz-select>
    </div>
    <div class="form-control">
      <app-nz-select
        [fg]="accountActivities"
        [controlName]="accountActivities.value.branches"
        [formControlName]="'branches'"
        [optionList]="branchesOptions"
        [label]="'auth-management.branches'"
        [labelClass]="'text-size-20'"
        ngDefaultControl
      ></app-nz-select>
    </div>
    <div class="form-control">
      <app-nz-select
        [fg]="accountActivities"
        [controlName]="accountActivities.value.accountTypes"
        [formControlName]="'accountTypes'"
        [optionList]="accountTypesOptions"
        [label]="'auth-management.accountTypes'"
        [labelClass]="'text-size-20'"
        ngDefaultControl
      ></app-nz-select>
    </div>
  </div>
  <div class="account-activities">
    <div class="form-control">
      <app-nz-select
        [fg]="accountActivities"
        [controlName]="accountActivities.value.accounts"
        [formControlName]="'accounts'"
        [optionList]="accountOptions"
        [label]="'auth-management.accounts'"
        [labelClass]="'text-size-20'"
        ngDefaultControl
      ></app-nz-select>
    </div>
    <div class="form-control">
      <app-nz-select
        [fg]="accountActivities"
        [controlName]="accountActivities.value.willBorrow"
        [formControlName]="'willBorrow'"
        [optionList]="willBorrowOptions"
        [label]="'auth-management.willBorrow'"
        [labelClass]="'text-size-20'"
        ngDefaultControl
      ></app-nz-select>
    </div>
    <div class="form-control">
      <div class="pt-9">
        <label formControlName="viewBalance" nz-radio>{{'auth-management.viewBalance' | translate}}</label> `
      </div>
    </div>
  </div>
</div>
