<div class="flex">
  <div class="form-control">
    <label>{{'auth-management.currencyUnit' | translate}}</label>
    <nz-select [nzSize]="'large'" nzAllowClear>
      <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
    </nz-select>
  </div>
  <div class="form-control">
    <label>{{'auth-management.companies' | translate}}</label>
    <nz-select [nzSize]="'large'" nzAllowClear>
      <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
    </nz-select>
  </div>
  <div class="form-control">
    <label>{{'auth-management.banks' | translate}}</label>
    <nz-select [nzSize]="'large'" nzAllowClear>
      <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
    </nz-select>
  </div>
  <div class="form-control">
    <label>{{'auth-management.branches' | translate}}</label>
    <nz-select [nzSize]="'large'" nzAllowClear>
      <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
    </nz-select>
  </div>
  <div class="form-control">
    <label>{{'auth-management.accountTypes' | translate}}</label>
    <nz-select [nzSize]="'large'" nzAllowClear>
      <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
    </nz-select>
  </div>
</div>
<div class="flex">
  <div class="form-control">
    <label>{{'auth-management.accounts' | translate}}</label>
    <nz-select [nzSize]="'large'" nzAllowClear>
      <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
    </nz-select>
  </div>
  <div class="form-control">
    <label>{{'auth-management.willBorrow' | translate}}</label>
    <nz-select [nzSize]="'large'" nzAllowClear>
      <nz-option nzValue="lucy" nzLabel="Lucy"></nz-option>
    </nz-select>
  </div>
  <div class="form-control">
    <div class="pt-9">
      <label nz-radio>{{'auth-management.viewBalance' | translate}}</label> `
    </div>
  </div>
</div>
